[2017-03-13 17:55] vknabel opened #1 "Feature Request: Search Directories"
Hey thanks for open sourcing your project!

I wanted to ask for a mechanism to make Marathon additionally search in different paths like `~/scripts/` or `$PROJECT_ROOT/Scripts`.

Some use cases are:
- In SwiftPM projects: SwiftPM doesn't like other Swift files in project root except Package.swift
- User Level Scripts: creating a very specific kind of projects

My ideas would be:
- recursively sear

[2017-03-13 18:19] JohnSundell commented on #1
Hi @vknabel! Unsure what you mean by that Marathon should "search". You just give the path to your script when running it like `$ marathon run ~/scripts/myScript.swift`. Would you mind clarifying what you mean? 🙂

[2017-03-13 18:43] JohnSundell opened #2 "Remove: add option to remove all script cache data"
An option to the `remove` command should be added to quickly clear the cache data for all scripts. This is useful, to not have to go through each and every one and remove them manually. Since it's just cache data, it's not super risky, but it might be worth adding a confirmation step to this one, just to make sure the user really intended to remove all cache data.

Suggested execution:
[code]

(Th

[2017-03-13 18:57] vknabel commented on #1
@JohnSundell sorry for the strange issue description. 😅

Essentially it's just about convenience. I thought about omitting the path for running the script in certain cases.
Marathon would then test some specific paths, looking for the provided script name.

I attached an example where Marathon would "search" for a script with the given name.
The first script, that exists will be executed.
[code]

[2017-03-13 20:18] JohnSundell commented on #1
Ah, now I understand what you mean - thanks 😄

Honestly, I think adding functionality like this would make Marathon more complicated than it has to be. In order to achieve this kind of global availability, I'd just create an alias for `marathon run path/to/my/script` and execute the aliased command from anywhere.

[2017-03-13 20:53] vknabel commented on #1
@JohnSundell I understand your reasoning.

An alias should be sufficient. Thanks for your honest feedback and suggestion. 👌

[2017-03-14 08:14] JohnSundell commented on #1
@vknabel Anytime 😄 Keep the suggestions and feedback coming - it's super valuable! 👍

[2017-03-14 08:14] #1 closed

[2017-03-14 10:05] onmyway133 opened #3 "How to open the xcode project again?"
Hi John, nice library 👍 . I'm starting to use Marathon, when running `marathon create helloWorld "import Foundation; print(\"Hello world\")"` it opens the source file in Xcode, which is handy. But after that, in Finder I only see `helloWorld.swift`, how can I open it it Xcode again?

Also, it seems the scheme is duplicated

![marathon](https://cloud.githubusercontent.com/assets/2284279/23895466/1a

[2017-03-14 10:08] onmyway133 opened #4 "marathon add is not responding"
Hi John,

I can create and run the library now. All are great. Then I add another framework with this command, I run `marathon add git@github.com:JohnSundell/Files.git`. I waited for some time but it seems not responding, and there is no `Marathonfile` generated.

I'm on `macOS 10.12.3` and Swift `Apple Swift version 3.0.2 (swiftlang-800.0.63 clang-800.0.42.1)
Target: x86_64-apple-macosx10.9`

[2017-03-14 16:27] JohnSundell commented on #3
Happy you like Marathon @onmyway133! 😄 Marathon copies your script into its own directory (`~/.marathon`), and uses the Swift Package Manager to create an Xcode project for your script there. This is to avoid having to clutter your folders with files like Xcode projects and dependency checkouts.

To edit the script using Xcode again, simply call `marathon edit <path-to-script>`.

Marathon doesn't

[2017-03-14 16:35] JohnSundell commented on #4
Marathon doesn't generate any `Marathonfile` for your dependencies - instead a `Marathonfile` is used to *declare* dependencies for your own scripts.

Just to make sure; do you have git and an ssh key for GitHub setup on this machine? What Marathon does when you run `add` is to resolve the latest version for the given package URL using `git ls-remote`.

Could you try running `git ls-remote --tags

[2017-03-14 21:07] onmyway133 commented on #3
@JohnSundell I think that answers my question. `marathon edit` to the rescue

[2017-03-14 21:07] #3 closed

[2017-03-14 21:09] onmyway133 commented on #4
@JohnSundell oh ja, I used to use `https` instead of `git`. Adding more informative output would be nice, looking forward

[2017-03-14 21:09] #4 closed

[2017-03-17 11:54] daveverwer opened #5 "Add support for creating a script at a given path (instead of just name)"
Just tested this out and it seems like you need to be in the destination directory for the script to avoid an error.

I don't have time to dig into this in full detail right now so please feel free to close if I've misunderstood something but it feels like a bug. This is my console log from the installation through to the bug. Hope it's helpful.

[code]

[2017-03-17 23:08] JohnSundell commented on #5
Hi @daveverwer! Yeah, `marathon create` currently expects a name of a script to create (see `marathon help create`), but we should totally add support for giving it a path as well 👍 I'll probably be able to find some time to add this tomorrow. Thanks for brining this up, and thanks for the iOS Dev Weekly mention! 😄

[2017-03-17 23:16] JohnSundell opened #6 "Enable using relative paths in a Marathonfile"
Currently, you need to use either a Git URL or absolute file path in your `Marathonfile`. While this covers most usecases, a `Marathonfile` should also be able to include relative paths that get expanded whenever the file is evaluated.

[2017-03-18 06:49] TofPlay opened #7 "Add badges"
Below the title please add badges this help a lot.

If your component is compatible:
- with carthage add [![Carthage compatible](https://img.shields.io/badge/Carthage-compatible-brightgreen.svg)](https://github.com/Carthage/Carthage)
- with SwiftPM add [![SwiftPM compatible](https://img.shields.io/badge/SwiftPM-compatible-brightgreen.svg)](https://github.com/apple/swift-package-manager)

Indicated

[2017-03-18 12:13] JohnSundell commented on #7
I do have these badges on all my other open source projects that are libraries, but for something like Marathon - which is a command line tool - I don't think they make much sense.

The license is already clearly visible in the GitHub UI, and since it's a command line tool it's not going to be used with any dependency management systems. The fact that it's Swift 3 is an implementation detail that'

[2017-03-18 12:13] #7 closed

[2017-03-18 14:23] TofPlay commented on #7
It's make sense but It's up to you.
For example actually we don't know if your tool is compatible with macOS or Linux, or even both. We don't know if marathon Is it compatible with Swift 3.0.2 or also with Swift 3.1.

[2017-03-20 17:58] jimabc opened #8 "Script hangs when printing too much data"
Running the following Marathon script in Terminal hangs indefinitely, while completing promptly in Xcode.

[code]

I discovered this while attempting to recursively print filenames from a large directory.

[2017-03-20 19:31] #5 closed

[2017-03-20 19:32] JohnSundell commented on #5
This has now been implemented on `master` 🎉

[2017-03-20 20:28] JohnSundell commented on #8
Fixed in https://github.com/JohnSundell/Marathon/commit/f1d2ec8f803301b0fdbcbebc931afc9131e624b8 🎉
Thanks a lot @jimabc for reporting this 👍

[2017-03-20 20:28] #8 closed

[2017-03-22 23:37] pixyzehn opened #12 "Replace options syntax"
Personally, to use `--no-open` instead of `-no-open` looks natural like other CLI tools. What do you think of that?
If you think so, I'd like to replace.

[2017-03-23 21:52] vknabel commented on #1
I wanted to share my solution to this issue, although it will probably be far too complex for most use cases. Usually a simple `alias myScript = 'marathon run ~/path/to/myScript'` should be fine.

My solution is a Marathon script located [here](https://gist.github.com/vknabel/64c81bae35dd997d1fe1da9705f7afee), which must be configured by an alias and two environment variables.
It has some downside

[2017-03-24 14:13] JohnSundell commented on #2
Implemented by @pixyzehn in https://github.com/JohnSundell/Marathon/pull/10 👍

[2017-03-24 14:13] #2 closed

[2017-03-24 19:03] #6 closed

[2017-03-24 19:05] JohnSundell commented on #12
@pixyzehn Yeah, that seems like a good idea, feel free to make that change 👍

[2017-03-24 19:19] JohnSundell opened #13 "Give suggestion to add a package if that's what fails script compilation"
If a script fails to compile because of a missing package, it would be nice to suggest to the user that they run `marathon add <package-url>` to add it. Right now, this is the output you get:

[code]

It would be nice if, in addition to the above, the following information was included:

[code]

[2017-03-24 19:34] sahandnayebaziz opened #14 "Best for short scripts, or for using Swift packages in general?"
@JohnSundell, this looks awesome. Thank you for sharing this.

I use Swift on iOS all the time, but I've only tried setting up a Swift executable with the Swift Package Manager a couple times. I'd just like to ask for your take and recommendation.

Do you think Marathon would work well for managing dependencies not for a short script, but for a Swift server app?

Forgive the very hasty comparison

[2017-03-24 20:58] JohnSundell commented on #14
Hi @sahandnayebaziz! Happy you like Marathon :)

I wouldn't recommend using Marathon for building an entire server-side app, since that's something you want to leave running in order to handle incoming requests, rather than just executing once as you would with a script.

Using the Swift Package Manager directly is better in that situation, and you can always use [SwiftPlate](https://github.com/jo

[2017-03-25 01:08] pixyzehn commented on #12
@JohnSundell Glad to hear that 👍  I'll submit a PR.

[2017-03-25 09:03] JohnSundell commented on #12
Implemented by @pixyzehn in https://github.com/JohnSundell/Marathon/pull/15

[2017-03-25 09:03] #12 closed

[2017-03-25 13:13] sahandnayebaziz commented on #14
Wonderful, thank you @JohnSundell :)

[2017-03-25 13:13] #14 closed

[2017-03-28 18:42] kareman opened #17 "Cannot add packages which has a version tag containing non-numeric characters"
[code]

I think this may be the reason:

[code]

Either because the latest version is a beta version (3.0.0-beta.12), or because the first version tags start with 'v' but not the later ones, and Git sorts them alphabetically instead of chronologically for some reason. I had to stop using 'v' to support Swift package manager if I remember correctly.

[2017-03-28 21:50] JohnSundell commented on #17
Thanks for the report @kareman! 👍 It's indeed caused by the tags containing `v`. Marathon tries to parse the latest major version (see `PackageManager.majorVersion(from:)`) and fails because it `Int(string)` fails for the string `v2` 💥

I'm thinking the expected behavior here is to add version `2.1`, right? Because the other releases are betas, so you wouldn't want them added (maybe we can allow i

[2017-03-28 22:10] kareman commented on #17
Sounds like a good plan. Have you considered importing the Swift Package Manager project itself? In addition to handling swift package projects they have also implemented [Version](https://github.com/apple/swift-package-manager/blob/master/Sources/PackageDescription/Version.swift). And made it Comparable so you can sort it.

[2017-03-28 22:57] JohnSundell commented on #17
@kareman Yeah, that's definitely something I'm considering for the future. They are working on making it even more usable as a library, so I'm going to start experimenting with that soon for sure 👍 For now, let's do the implementation in Marathon. I can probably find some time to work on this tomorrow evening 🙂, unless you want to do it of course?

[2017-03-28 23:35] kareman commented on #17
I don't have time this week I'm afraid. I can take a look at it next week if you haven't already done it by then.

[2017-03-29 17:47] JohnSundell commented on #17
@kareman No worries at all, I'll take care of it tonight 😄

[2017-03-29 23:07] JohnSundell commented on #17
Had to fix some other things tonight, but I'll have time later this week for sure :)

[2017-03-30 15:38] JohnSundell opened #20 "Removing a package does not fully remove it on Swift 3.1"
The version of the Swift Package manager bundled with the 3.1 release uses a different folder structure than the one bundled with 3.0. This causes `marathon remove packageName` to not fully remove an added package, which in turn causes some of the tests to fail when run on Xcode 8.3. I have a fix in the works which should be in `master` soon 🙂

[2017-03-30 23:48] pixyzehn opened #21 "Duplicated file path"
I think the problem is that the path included a redundant `/` when creating like `/Users/pixyzehn/Developer//hoge.swift`.
Is that issue in `Files` ?

[code]

[2017-03-31 11:03] JohnSundell commented on #20
Fixed here: https://github.com/JohnSundell/Marathon/commit/8faf96982345744cf2e117dfd9fe5f70fc6e904e

[2017-03-31 11:03] #20 closed

[2017-03-31 11:12] JohnSundell commented on #21
Good find @pixyzehn! It might be an issue with Files, or with how Marathon processes the paths, I'll start by seeing if I can reproduce the problem in a Files test case, and we can take it from there 😄

[2017-03-31 12:56] JohnSundell commented on #17
@kareman This has now been fixed in https://github.com/JohnSundell/Marathon/commit/54893ce56f261e13f619f39b0537860f46bfc05b 🎉

However, you won't be able to use SwiftShell just yet, because the latest stable version `2.1` does not have a layout compatible with the Swift Package Manager. I'd recommend either tagging a `2.2` version that has the correct layout, or waiting until `3.0` is ready to go

[2017-03-31 14:23] kareman commented on #17
Excellent. Swiftshell will hopefully be out of beta next week so I'll try again then.

[2017-03-31 14:34] JohnSundell commented on #17
@kareman Awesome! Mind if I close this issue?

[2017-03-31 14:47] kareman commented on #17
Not at all.

[2017-03-31 15:00] JohnSundell commented on #17
@kareman Cool - let me know once you have deployed a new version of Swiftshell if you still encounter any problems adding it to Marathon 🙂

[2017-03-31 15:00] #17 closed

[2017-04-01 08:15] pixyzehn opened #22 "marathon uninstall command?"
This is a just suggestion. I'd like to hear your idea:)

How about `marathon uninstall <script-path> [<install-path>]` like this?

It just executes `rm -f "/usr/local/bin/<lowercased-name-of-script>"` or `rm -f "<install-path>/<lowercased-name-of-script>"`.
It successes only if marathon manages the same script name as the binary.

[code]

In addition, It's very difficult to select `uninstall` emoj

[2017-04-02 13:32] pixyzehn commented on #21
@JohnSundell
As I found the cause of bug, I fixed:)
Please check my PR in Files https://github.com/JohnSundell/Files/pull/8

[2017-04-02 14:49] #21 closed

[2017-04-02 14:49] JohnSundell commented on #21
Thanks @pixyzehn! Really appreciate your help on this 👍

[2017-04-02 14:51] JohnSundell commented on #21
Will make a new release of Files now so that Marathon can take advantage of the fix.

[2017-04-02 15:48] pixyzehn commented on #21
Thanks! Looking forward to it!

[2017-04-03 08:11] rob-nash opened #25 "Installation failed"
Only a small issue but might be worth mentioning in ReadMe.

Roberts-MacBook-Pro:Marathon robertnash$ make
swift package --enable-prefetching update
Fetching https://github.com/johnsundell/files.git
Fetching https://github.com/johnsundell/unbox.git
Fetching https://github.com/johnsundell/wrap.git
Cloning https://github.com/johnsundell/files.git
Resolving https://github.com/johnsundell/files.git at

[2017-04-03 09:44] rob-nash opened #26 "Hangs on run"
Roberts-MacBook-Pro:Scripts robertnash$ cd ~/Desktop/Folder1/
Roberts-MacBook-Pro:Folder1 robertnash$ marathon create addSuffix
🐣  Created script at addSuffix.swift
✏️  Opening Addsuffix.xcodeproj/

ℹ️  Marathon will keep running, in order to commit any changes you make in Xcode back to the original script file
   Press any key once you're done

<img width="439" alt="screen shot 2017-04-03 at 10 3

[2017-04-03 14:19] johndpope opened #27 "Add support for adding packages using HTTPS-based git URL"
marathon add https://github.com/SwiftyJSON/SwiftyJSON.git

it does have a package.swift file and a tag. not sure why it doesn't work.
https://github.com/SwiftyJSON/SwiftyJSON/issues/823

[2017-04-03 15:57] pixyzehn commented on #27
@johndpope You can add by `marathon add git@github.com:SwiftyJSON/SwiftyJSON.git`.

[code]

[2017-04-03 17:09] JohnSundell commented on #27
@pixyzehn is right - use SSH-based cloning at it'll work 👍 But, we should totally add support for HTTPS-based clones. I'll rename the issue to reflect that.

[2017-04-03 18:23] JohnSundell commented on #26
@rob-nash Hi! Thanks for the report. Unfortunately I can't reproduce it on my machine, even if I first remove Files from Marathon. Let's debug it - can you:

1. Verify that the contents of your `Marathonfile` is exactly `git@github.com:JohnSundell/Files.git`?
2. Confirm that you have Swift 3.1 (bundled with Xcode 8.3) installed?
3. Run `$ marathon list` and show me what it outputs?

And let's take

[2017-04-03 18:25] JohnSundell commented on #25
What would you like to be mentioned in the README? Was the problem that you didn't have write access to `/usr/local/bin`? 🤔

[2017-04-04 08:17] rob-nash commented on #26
Hi John,

Thanks for the quick response.

Today it is not hanging! But I do get an error. Firstly, let's go through your steps.

1. Verified 👍
2. Confirmed 👍
3. Here you go:

Roberts-MacBook-Pro:~ robertnash$ marathon list
📄  Scripts
----------
/Users/robertnash/Desktop/Folder1/addSuffix.swift

👉  To remove either a package or the cached data for a script, use 'marathon remove'
Roberts-MacBook-Pro

[2017-04-04 09:41] rob-nash commented on #25
I had to run 'sudo make'
My permissions are set up like so.
drwxr-xr-x  root  wheel  bin

[2017-04-04 15:45] pixyzehn commented on #13
@JohnSundell
Could you close this issue? :)

[2017-04-04 15:49] JohnSundell commented on #13
@pixyzehn I sure can! Thanks for the reminder 😅

[2017-04-04 15:49] #13 closed

[2017-04-04 19:43] JohnSundell commented on #25
Ah, I understand. I'll add a note to the README, thanks! 👍

[2017-04-04 20:58] JohnSundell commented on #25
✅  Done here: https://github.com/JohnSundell/Marathon/commit/7c353d4b21cad42444e1141b91b5e3da2baaaa5b

[2017-04-04 20:58] #25 closed

[2017-04-04 20:59] JohnSundell commented on #26
Are you running `marathon run addSuffix "something"` in the same folder as `addSuffix.swift` is located in? `run` takes a path to the script to run, and it looks like it can't find it.

[2017-04-05 09:12] rob-nash commented on #26
Now I understand why it was hanging, only sometimes. Now I can reproduce the hanging consistently by performing this command in the same folder as addSuffix.swift.

Video attached shows the point at which it hangs.
[1.mov.zip](https://github.com/JohnSundell/Marathon/files/895708/1.mov.zip)

[2017-04-05 15:20] JohnSundell commented on #26
@rob-nash Since I'm unable to reproduce this locally, do you mind helping a bit with debugging this issue?

- Generate an Xcode project for marathon by going to its repo and running `swift package generate-xcodeproj`.
- Open the generated `Marathon.xcodeproj`.
- Select the command line scheme, and go to `Product > Run...`
- Add the launch arguments `run`, `<path-to-addSuffix.swift>` (replace with

[2017-04-05 22:44] pixyzehn opened #30 "marathon list [--package] or [--script]"
I'd like to introduce simple two options in the list command,

[code]

[2017-04-05 23:24] pixyzehn opened #31 "[Bug] marathon create script --no-open"
[code]
I think it's better to add `"import Foundation\n\n"` instead of `--no-open`.

[2017-04-05 23:34] pixyzehn commented on #31
I'll fix this issue after merging https://github.com/JohnSundell/Marathon/pull/29.

[2017-04-06 10:11] rob-nash commented on #26
Sorry for late reply. Yes I don't mind. I will take a look now.

[2017-04-06 10:24] rob-nash commented on #26
It's failing here

[code]

couldNotPerformSetup("~/Desktop/Folder1/addSuffix.swift")
Program ended with exit code: 0

Might be permissions again.

[2017-04-06 10:32] rob-nash commented on #26
Wait...why are we trying to create a folder at this point ?
'if needed' suggests that it might fail for a good reason and that we should ignore that error right ?
will take a look

[2017-04-06 10:35] rob-nash commented on #26
Just pulled files and imported into iOS App target.

[code]

No error. Output is
Folder(name: addSuffix.swift, path: /path/to/Desktop/Folder1/addSuffix.swift/)

Although, this is a file...not a folder. So will run Marathon again with use the path ~/Desktop/Folder1/

[2017-04-06 10:44] rob-nash commented on #26
???

[code]
Output
'something' is not a valid command
[code]
Output
Welcome to Marathon 🏃
----------------------
Marathon makes it easy to write, run and manage your Swift scripts.

These are the available commands:

🐣    create    Create new script at a given path and open it
✏️    edit      Edit a script at a given path
🗑    remove    Remove a package or the cache data for a script at a given pa

[2017-04-06 16:09] JohnSundell commented on #26
@rob-nash Really seems like a permissions problem. Marathon stores all of its data in a `~/.marathon` folder, which is what it seems to fail to create. It's very curious that the file path is `~/Desktop/Folder1` though. Did you modify Marathon's source code before installing it? Can you make sure that you have write permissions to your home folder (can't see any reason why you shouldn't have thoug

[2017-04-06 16:11] JohnSundell commented on #26
The reason you get `something is not a valid command` is because the first argument should be the execution path, as this is what gets given from the command line. Why are you envoking `Marathon.run` in code btw? Just for testing?

[2017-04-06 16:15] JohnSundell commented on #30
Sure, great idea 👍 But I think the flags should be pluralized, like `--packages` and `--scripts`.

[2017-04-06 22:31] pixyzehn commented on #30
Sure, I agree! Just updated.

[2017-04-07 08:33] JohnSundell commented on #31
I can take car of it now, I have some spare time 😄

[2017-04-07 08:44] JohnSundell commented on #31
Fixed in https://github.com/JohnSundell/Marathon/commit/692abd55377ae970f1d26c64984bf9c16b07a597 🎉 Great find @pixyzehn!

[2017-04-07 08:44] #31 closed

[2017-04-07 09:35] rob-nash commented on #26
I attempted to debug the source code by running it and passing arguments in line with the source code.

If I execute the source code using the 'Marathon - My Mac' scheme the debug panel prints the same output that I see in the deployed terminal App. The programme runs to completion (Program ended with exit code: 0) so I am not given an opportunity to add arguments unless I modify the source code.

[2017-04-07 10:05] rob-nash commented on #26
Then again...

I can see the ~/.marathon directory. The subdirectory 'Scripts' has the following

    -Users-robertnash-Desktop-Folder1-addSuffix

If this was a permissions problem the terminal App would return some sort of error, instead of hanging, right?

I'm sorry I can't give you any more insightful information than this. I will perform some more debugging over the weekend and if I find anyth

[2017-04-07 12:24] JohnSundell commented on #26
Yeah it definetly seems like something is off with your file system. For reference here are the permissions of my home folder: `drwxr-xr-x@` (I know too little about permissions to decipher them though 😅).

If you're fine with closing this, then I think we can do it. You can always open a new issue if you find this to be a Marathon-specific problem.

Btw, you can totally set launch arguments in Xc

[2017-04-07 13:54] rob-nash commented on #26
Thanks John. Will get back to you if I learn something relevant.

[2017-04-07 13:54] #26 closed

[2017-04-08 00:42] pixyzehn commented on #31
Looks perfect! Thanks @JohnSundell !!

[2017-04-08 12:19] JohnSundell commented on #22
@pixyzehn I'm not sure if I think it's a good idea to extend Marathon's scope to being able to perform uninstalls of binaries. The constraint you mentioned (only being able to uninstall binaries that have a cached script file), makes sense - but what if the user deletes the cache data? Don't think it's a good idea to rely on the cache data this way.

So while I see the convenience of being able to

[2017-04-08 12:36] JohnSundell opened #33 "Install: Be able to pass a "non-raw" GitHub URL"
Marathon can now install remote scripts 🎉 But one limitation is that it needs to be a "raw" Swift file. That is, if you have a file on GitHub, for example:
[code]
You need to pass its "raw" URL:
[code]

Since hosting scripts on GitHub is such a common use case, we should make this more convenient.

The suggestion is to support passing the "non-raw" GitHub URL to `marathon install`, which Marathon

[2017-04-08 12:42] JohnSundell opened #34 "Inline dependency resolution"
This is an idea @aciidb0mb3r and me have been discussing over Slack, which I think would be really cool to implement.

Currently, Marathon supports defining dependencies for scripts using a `Marathonfile` - which works really well for most usecases. However, sometimes you want to distribute a script _just_ as its `.swift` file (and not have to include any additional supporting files). This is wher

[2017-04-08 16:14] pixyzehn commented on #22
I understand what you said, but I care about a consistency a little bit. For example, `marathon add` and `marathon remove`.
`marathon uninstall` has some problems to solve, so I'll think again.

How about if `marathon` has installed binaries lists like packages and cached scripts?

[code]

[2017-04-09 00:08] pixyzehn opened #35 "[Improvement] [Tests] Make test efficient and less time"
Now `swift test` takes about 295s in my env. It's time to reduce the time, so we can focus on more essential parts.

[code]

[2017-04-09 03:38] pixyzehn commented on #34
Looks good!! I'd like to implement in a more declarative way to avoid unintentional imports.

For instance,
[code]
This idea is inspired by https://github.com/realm/SwiftLint#disable-rules-in-code.

[2017-04-09 09:49] JohnSundell commented on #34
Great idea @pixyzehn, let's go with that 👍

[2017-04-09 19:56] darthpelo opened #37 "Wired errors during installation on Raspberry Pi with Ubuntu 16.04.2"
Hi @JohnSundell!
I want to report this error also if I know that Swift on ARM is not right now a stable environment. So if it's to hard to figure out the problem no worries, you can close this issue :)

The machine is a Raspberry Pi 2 with Ubuntu 16.04.2.
Swift version:
[code]

The errors are the same using the **Make** or the **SPM**:
[code]
I have no idea why the compiler is "confused" with Regu

[2017-04-10 09:39] SteveBarnegren opened #39 "Script creation fails with paths containing spaces"
Running the creation command from the readme:

`marathon create helloWorld "import Foundation; print(\"Hello world\")"`

Is failing if the run from a folder whose name contains spaces:

`Stevens-MacBook-Pro-2:some scripts stevenbarnegren$ marathon create helloWorld "import Foundation; print(\"Hello world\")"
🐣  Created script at helloWorld.swift
ShellOutError(message: "/bin/bash: line 0: cd: /User

[2017-04-10 11:18] JohnSundell commented on #39
Thanks for the report @SteveBarnegren! I just made a fix for this bug here: https://github.com/JohnSundell/Marathon/commit/c8c3e4d3c99782af2b8715057490db755ea6cc2b.

Just pull the latest `master` and reinstall Marathon from it, and you should be good to go 😄

[2017-04-10 13:38] kobusb opened #40 "Fails to download and install script."
Running
`marathon install https://raw.githubusercontent.com/JohnSundell/Playground/master/Sources/Playground.swift`

Output:
[code]

Output from `marathon list`:
[code]

Tried the above `marathon install` in the following shells: `fish`, `bash`, `zsh`

Running `curl https://raw.githubusercontent.com/JohnSundell/Playground/master/Sources/Playground.swift` successfully downloads the file

[2017-04-10 14:05] JohnSundell commented on #37
Hi @darthpelo!

Thanks a lot for the report! I personally haven't had the chance to try installing Marathon on Linux yet, but it would be awesome to make it work on that platform as well as on macOS 👍

As far as I can tell there are two concrete tasks from looking at the build errors:

- [ ] Make [ShellOut](https://github.com/johnsundell/shellout) compile for Linux (it uses `NSException`, which is

[2017-04-10 14:26] JohnSundell commented on #40
Hi @kobusb! Thanks for the report! 👍

That's very curious, I was expecting `marathon list` to contain packages. Just to rule it out; do you have an SSH-key setup with GitHub to enable you to clone over SSH? It seems like Marathon is failing to install the packages declared in Playground's `Marathonfile`.

[2017-04-10 14:30] JohnSundell commented on #35
I'm not sure if we _can_ reduce the time that much. The reason the tests are slow is because they are running the **real** Marathon tool, performing remote clones, updating packages, etc. So that's inherently going to be slower than, for instance, using mocking. I think there's great value in doing the tests using the real deal, since it very accurately simulates the conditions of Marathon being r

[2017-04-10 14:48] SteveBarnegren commented on #39
@JohnSundell Thanks for the quick fix!

I'm still having some issue running the script though? Creation now works, but running the script still fails?

Creating a script called `hellosteve` in a folder on my desktop called `testing spaces`:

`Stevens-MacBook-Pro-2:testing spaces stevenbarnegren$ marathon create hellosteve "import Foundation; print(\"Hello steve\")"
🐣  Created script at hellosteve.

[2017-04-10 15:20] pixyzehn commented on #39
@SteveBarnegren
I think the problem is `testing spaces` has a white space, so you can run a script by using `testing_spaces` or `testingSpaces` folder.
I'll fix the bug if possible.

[2017-04-10 15:38] JohnSundell commented on #39
@pixyzehn @SteveBarnegren I must've missed to update all the code paths that `run` can take. Will fix now 👍 Curious that my test case for this passes, so will need to take a look at that as well 😅

[2017-04-10 15:39] JohnSundell commented on #39
Ah, I know why. It's because the **current folder** has spaces. Will make a fix for that now.

[2017-04-10 16:00] JohnSundell commented on #39
Alright, just pushed a commit that should fully fix this. I was able to reproduce the problem in a test case, which is now passing 👍

@SteveBarnegren could you run from the latest `master` and verify the fix? 🙂

[2017-04-10 16:15] SteveBarnegren commented on #39
Works like a charm! Thanks @JohnSundell 👍

[2017-04-10 16:32] darthpelo commented on #37
Thanks for the reply @JohnSundell :)
If I have time today or tomorrow I will try to help.

[2017-04-10 16:51] JohnSundell commented on #37
@darthpelo That would be really awesome 🎉 I think for ShellOut we can probably just surround the code using `NSException` with `#if !platform(Linux)`.

[2017-04-10 16:51] JohnSundell commented on #39
@SteveBarnegren Fantastic 🎉 Closing this now then.

[2017-04-10 16:51] #39 closed

[2017-04-10 16:56] JohnSundell commented on #37
@darthpelo Sorry, my bad - it's not ShellOut that contains the `NSException` code - it's Require 😅

[2017-04-10 17:03] darthpelo commented on #37
@JohnSundell thanks! I was a little bit lost 😄

[2017-04-10 17:17] JohnSundell opened #43 "Install: Enable passing URL to single-script remote repository"
Similar to https://github.com/JohnSundell/Marathon/issues/33, it would be nice to make `marathon install` have a conveniene feature where you can simply pass the URL of a repo containing a single Swift script that you wish to install.

For example, right now, in order to install [Playground](https://github.com/johnsundell/playground), you need to run the following:
[code]

It would be really nice

[2017-04-11 09:03] darthpelo commented on #37
@JohnSundell short update.

These are the first result after the build of my Marathon [fork](https://github.com/darthpelo/Marathon).

**Ubuntu 16.04 (Vmware image)**
![screen shot 2017-04-11 at 10 54 46](https://cloud.githubusercontent.com/assets/1339000/24900835/72e62e12-1ea5-11e7-88b1-4a0a1a879c80.png)

**Ubuntu 16.04 (Raspberry Pi)**
![screen shot 2017-04-11 at 10 54 21](https://cloud.githubuse

[2017-04-11 09:43] JohnSundell commented on #37
@darthpelo That is really awesome 👏 Yeah, we can build `release` on Linux, but not statically link the standard library (AFAIK). So just `swift build -c release` on Linux. Feel free to open PRs with your changes once you're ready and we'll get them merged ASAP. Super excited about getting Marathon up and running on Linux. Did you try running the tests btw?

[2017-04-11 10:00] darthpelo commented on #37
@JohnSundell yes `swift build -c release` it's enough. Right now only `install` doesn't work and return a generic `💥  Failed to compile script`.

About tests:
now I am testing Marathon, Required and Wrap on my Mac to be sure that I did not broke anything 😅. Then I need to understand how tests work with Linux.

[2017-04-11 11:14] kobusb commented on #40
Yeah I do have SSH set up, and I'm able to manually clone the dependencies in the Marathonfile:
`git clone git@github.com:johnsundell/xgen.git`
`git clone git@github.com:johnsundell/files.git`
`git clone git@github.com:johnsundell/shellout.git`
All the above succeed no problem.

[2017-04-11 11:16] kobusb commented on #40
Done some debugging, and running from Xcode, it throws on this line in PackageManager.swift:
`try generatedFolder.moveToAndPerform(command: "swift package --enable-prefetching update")`

`swift-package: error: unknown command: --enable-prefetching`

[2017-04-11 11:21] kobusb commented on #40
Just read the Requirements, and I see you did mention Xcode 8.3 is required. Sorry about that, should have read that more carefully. 😢

[2017-04-11 13:24] JohnSundell commented on #40
@kobusb Yeah, that's the issue! Swift Package Manager prefetching was introduced in Swift 3.1, so that's why it's failing. No worries, happy we found the source of the problem 😄 Mind if I close this issue?

[2017-04-11 13:45] kobusb commented on #40
Sure, you may close it. Thanks for the help. 🙌

[2017-04-11 13:56] JohnSundell commented on #40
@kobusb No problems! 👍

[2017-04-11 13:56] #40 closed

[2017-04-11 19:56] darthpelo commented on #37
@JohnSundell Marathon and Wrap tests are all ✅ on Mac.
On Linux platform only Wrap has all tests ✅.

I have 4 ❌ https://github.com/darthpelo/Marathon/pull/1 but I'm not sure about the causes.
These are the errors:

**testAddingAndRemovingRemotePackage**
[code]
**testInstallingLocalScript**
[code]
**testInstallingRemoteScriptWithDependencies**
[code]
**testUsingMarathonfileToInstallDependencies**
[

[2017-04-12 18:15] rob-nash opened #45 "Error in Readme"
The README mentions

[code]

Currently this is a 404: https://raw.githubusercontent.com/JohnSundell/Marathon-Examples/master/AddSuffix/AddSuffix.swift

[2017-04-12 18:26] rob-nash opened #46 "Question: Marathon remove"
I run marathon list and I could see that I had packages and scripts installed. Running marathon remove was a little more confusing. I'm not 100% sure what marathon remove actually does.

marathon remove helloWorld
-deletes cached data

marathon remove /path/to/helloWorld.swift
-deletes the script file

Is that right ?

I don't understand 'cached data'. What is getting cached exactly ?

I was expec

[2017-04-12 18:27] JohnSundell commented on #45
@rob-nash I just ran the above command and it worked 🤔 The link is also clickable and downloads the file in Safari...

[2017-04-12 18:31] JohnSundell commented on #46
@rob-nash Have you run `marathon help remove`? Remove can be used for 2 purposes:

1. Removing a package that you've added using `marathon add` (like `marathon remove Files`)
2. Clean up the cache data for a script (like `marathon remove /path/to/helloWorld.swift`)

To speed up the compilation and execution of your scripts, Marathon stores cache data (like cloned packages, metadata, etc) in its di

[2017-04-12 18:48] rob-nash commented on #46
Yeeaaarp!
Thanks

[2017-04-12 18:48] #46 closed

[2017-04-12 18:49] rob-nash commented on #45
Have you opened the file ?

[2017-04-12 18:50] rob-nash commented on #45
<img width="578" alt="screen shot 2017-04-12 at 19 50 38" src="https://cloud.githubusercontent.com/assets/14126999/24974220/554ccdce-1fb9-11e7-9cf7-523d6262041c.png">

[2017-04-12 19:00] rob-nash opened #47 "Press any key when done - not true"
I know this isn't a compelling issue, but it's worth noting I guess.

After using marathon create helloWorld marathon keeps running in order to commit any changes. 'Press any key once you're done' isn't quite right. If I use the return key, then it works. But if I press the 'd' key nothing happens.

<img width="830" alt="screen shot 2017-04-12 at 19 57 49" src="https://cloud.githubusercontent.com/

[2017-04-12 19:24] kkapitan commented on #45
I think this is due to the wrong link being passed as an argument to `marathon install`.

The correct url [here](https://raw.githubusercontent.com/JohnSundell/Marathon-Examples/master/AddSuffix/addSuffix.swift) with lowercase `addSuffix.swift`. If you however go to [this](https://raw.githubusercontent.com/JohnSundell/Marathon-Examples/master/AddSuffix/AddSuffix.swift) url with capital `AddSuffix.s

[2017-04-12 19:28] JohnSundell commented on #45
@kkapitan @rob-nash Ah, that's the problem! Will update the `README` to have the correct casing, thanks guys! 👍

[2017-04-12 19:30] JohnSundell commented on #45
`README` updated!

[2017-04-12 19:30] #45 closed

[2017-04-12 19:31] JohnSundell commented on #47
Thanks for reporting this @rob-nash - will update the wording to tell the user to press the return key 👍

[2017-04-12 19:35] JohnSundell commented on #47
Fixed in https://github.com/JohnSundell/Marathon/commit/ace4101b42ec7a44f8bca128cf5e760bb7042775!

[2017-04-12 19:35] #47 closed

[2017-04-13 20:18] darthpelo commented on #37
@JohnSundell I close this issue :)

[2017-04-13 20:18] #37 closed

[2017-04-15 08:27] darthpelo opened #50 "Case sensitive issue with remove package on Linux"
Hi @JohnSundell I understand why test `testAddingAndRemovingRemotePackage` failed on Linux with this error:
[code]
The issue is the package name used in the test
[code]
The real name of the package is Files, but on macOS 10.12.4 doesn't matter if we pass the string with the first letter lowercase.
On my virtual machine with Ubuntu 16.04, instead, this difference became an issue. I changed the test

[2017-04-15 09:03] JohnSundell commented on #50
Great catch @darthpelo! Let's just update the test to use the proper casing 👍 If the file system is case sensitive then using the improper casing is a user error and should throw anyway, so I don't think that Marathon should be "smart enough" to handle it.

[2017-04-15 15:31] darthpelo commented on #50
@JohnSundell I agree 🙂

[2017-04-17 09:02] rob-nash opened #52 "Error Erasure"
Marathon create was failing for me and I couldn't understand why without debugging the project. I discovered that my ssh key was not added as an identify to my ssh-agent so a pull from source was failing.

This error did not appear in-line in the terminal but it would have been useful if it did. The terminal just hanged actually.

The create command calls upon the following at some point:

[code]

[2017-04-17 12:50] JohnSundell commented on #52
@rob-nash This is why the `--verbose` flag was added. It prints all the underlying commands that Marathon issues on the command line, as well as any return values and errors thrown. I personally prefer to keep error reporting simple on the surface, with the option to "dig in deeper" if needed. The `--verbose` flag should serve that purpose here. I'm also planning on adding more reporting on the "s

[2017-04-17 17:22] rob-nash commented on #52
Ah! A flag --verbose ! Very good. I have another hang though and I don't know what the error is. Will have to debug again.
<img width="910" alt="screen shot 2017-04-17 at 18 21 04" src="https://cloud.githubusercontent.com/assets/14126999/25097052/ccf5d656-239a-11e7-99ce-f65e68815d1e.png">

[2017-04-17 18:24] JohnSundell commented on #52
@rob-nash That looks like `swift package generate-xcodeproj` is hanging (or taking a long time, which it can sometimes do). Currently, even with the `--verbose` flag, underlying commands (in this case, the ones that `swift package generate-xcodeproj` is issuing) are still not printed. My guess is that some dependency is failing to clone/update. Can you show me the output of `marathon list`?

[2017-04-17 18:27] rob-nash commented on #52
It was the ssh agent issue I mentioned earlier. It is a re occurring problem for me at the moment. It's under control but useful for this thread as it highlights the issue of error logging quite well. You can see that even with the verbose flag enabled, the shell out error isn't written. I don't mind providing a fix for this but I guess this issue might be a design pattern that extend beyond this

[2017-04-17 18:29] rob-nash commented on #52
That might not be very clear. I'm quite drunk at the moment. Maybe we should talk about this when I am not drunk.

[2017-04-18 20:24] darthpelo commented on #50
@JohnSundell sorry for the silence but Easter lunches/dinners and daily work (new iOS project kick off) keep me away from Marathon 😅 I will back in the weekend 💪

[2017-04-20 08:43] JohnSundell commented on #50
@darthpelo No problem at all - same for me 🐥 No stress - just work on it whenever you have time - I really appreciate your help 🚀

[2017-04-20 20:50] JohnSundell commented on #33
Implemented by @kkapitan in #44 🎉

[2017-04-20 20:50] #33 closed

[2017-04-25 14:23] johndpope opened #54 "enhancement - error trapping /backtrace /pipefail"
When bash scripting - it's a frequent challenge that there will be error conditions encountered which will cause script to abort.

eg.
<img width="702" alt="screen shot 2017-04-25 at 10 20 53 am" src="https://cloud.githubusercontent.com/assets/289994/25390224/e766778c-29a0-11e7-81fa-fe9065815158.png">

This script has been well received by people in community to trap a complex script executing mul

[2017-04-26 18:58] JohnSundell commented on #54
@johndpope I don't really understand what you mean by this issue. Could you clarify? Do you want to see some change to the way Marathon reports errors?

[2017-04-28 12:10] seyhunak opened #55 "Installation Problem"
Hello,

I like to try TestDrive to install via Marathon, but cannot install. Could you please help me with the issue
/cc @JohnSundell

I was using;
- Xcode Version 8.3 beta 4 (8W143q)
- Apple Swift version 3.1 (swiftlang-802.0.42.1 clang-802.0.36)
Target: x86_64-apple-macosx10.9

**Swift Package Manager**
`
seyhunak@MacBook-Pro ~/Projects/Marathon (master)$ swift build -c release -Xswiftc -static-

[2017-04-28 12:25] seyhunak commented on #55
My bad. Solved by re-creating public/private key pair set, without sudo.
Thanks.

[2017-04-28 12:25] #55 closed

[2017-04-28 15:59] icanzilb opened #56 "Installation via make stalls"
I tried to install Maraton via the first installation method (cloning and running `make`) but the installation stalls either at fetching releases or shellout 🤔 I ran this more than 5 times and it still didn't go through.

![image](https://cloud.githubusercontent.com/assets/633862/25536760/9713aa42-2c44-11e7-83b8-5bbabcb65ea4.png)

Has anyone else ran into that issue?

[2017-04-28 16:05] icanzilb commented on #56
looks like it was related to Sierra issue when it doesn't use Keychain to store ssh access credentials. Following the advice here: https://www.cyberciti.biz/faq/howto-fix-macos-keeps-asking-my-ssh-passphrase-since-i-updated-to-sierra/ now the installation goes through.

[2017-04-28 16:05] #56 closed

[2017-04-28 16:19] JohnSundell commented on #56
This is a quite common issue actually - I'll add some pre-checks to make sure that the SSH setup is good to go, so that a better (or any) error message will be thrown before even attempting the install - instead of stalling it 😄

[2017-04-29 19:29] kareman opened #57 "Cannot add framework with dependencies listed in unorthodox manner in Package.swift"
[code]

Judging by the error message it doesn't like the slightly unusual Package.swift:

[code]

I had no problem adding the SwiftShell framework itself, which has no dependencies.

[2017-04-29 19:35] kareman commented on #57
I am using this commit of Marathon:

[code]

[2017-04-29 20:15] JohnSundell commented on #57
Nice find @kareman! It's indeed because of the package description, which Marathon fails to parse. I'm working on a fix right now, should be done pretty soon 😄

[2017-04-29 20:42] JohnSundell commented on #57
Fix is here: https://github.com/JohnSundell/Marathon/pull/58, will merge as soon as CI passes.

[2017-04-29 20:44] kareman commented on #57
Wow that was quicker than I thought possible. Nice work!

[2017-04-29 20:47] JohnSundell commented on #57
@kareman Thanks 😄 Fix is now in master, can you verify and close if the issue is solved?

[2017-04-29 20:50] kareman commented on #57
Just tested it, works perfectly.

[2017-04-29 20:51] #57 closed

[2017-04-29 20:52] JohnSundell commented on #57
🎉

[2017-04-30 18:29] bennokress opened #59 "[Improvement] Install via Homebrew"
I don't know how much effort it would take to make this available via homebrew, but I guess it would be easier to install, update and maintain for less experienced users.

[2017-05-01 09:40] JohnSundell commented on #54
Ping @johndpope

[2017-05-01 09:41] JohnSundell commented on #59
@bennokress That's a great idea! 👍 Homebrew has a rule that creators of a project can't submit their own work - but I'd love it if someone from the community added Marathon to Homebrew.

[2017-05-01 10:02] bennokress commented on #59
Okay, I'm very busy at the moment and have no experience with creating a hombrew formula or ruby for that matter, but I'll look into it, if it isn't done by someone else in the meantime.

This seems to be the tutorial, if someone is interested: [Formula Cookbook](http://docs.brew.sh/Formula-Cookbook.html)

[2017-05-01 17:03] johndpope commented on #54
My intention behind this is to simplify porting bash scripts across to swift for newbies.
In this one thing that can pop up / trip up users is error handling.
eg. a simple mkdir Folder / may error because the folder exists.
Now obviously there's superior native swift commands that should be run here in stead...

but say we execute a command from within swift script / being able to trap the error b

[2017-05-01 18:49] JohnSundell commented on #54
I think what you're looking for is something like [ShellOut](https://github.com/johnsundell/shellout) - it enables you to easily call out into Bash and return the result (or throw). Marathon has no opinion about what a script contains, or how it performs error handling. It simply runs scripts and returns the outcome (either through `STDOUT` for normal output or `STDERR` for errors).

[2017-05-01 20:15] johndpope commented on #54
Brilliant. thanks John.

You should add it into readme as it could be very helpful and complimentary to marathon.

[2017-05-01 20:15] johndpope commented on #54
Brilliant. thanks John.

You should add it into readme as it could be very helpful and complimentary to marathon.

[2017-05-01 20:15] #54 closed

[2017-05-03 18:46] amlcurran commented on #35
Is there a potential ability or desire to split the test suite into unit tests and integration tests?

[2017-05-03 19:00] JohnSundell commented on #35
@amlcurran The problem is that at the moment, they're all pretty much integration tests 😅 I usually rely mostly on unit tests, but for Marathon I wanted to test the real deal - since it relies on so many underlying systems like the Swift Package Manager, the file system, Swift's build system, etc. So not sure how much value unit tests would bring to this project.

One thing we could do is split th

[2017-05-03 19:08] amlcurran commented on #35
Yeah I'd like that second suggestion 👍 the current test file is rather large, and the `MARK:` statements make it well divided enough to split. Would happy to take a look at that later, after looking at #27.

[2017-05-04 14:17] aksswami commented on #59
@JohnSundell I was trying to create a `brew formula` for marathon, but faced some issue. I think, only contributor of the repo will be able to fix these issues. Here are the warning from a forked repo formula.

[code]

Here is the formula file :- https://gist.github.com/aksswami/2e8e800c06c5a8f385cef0b40c945ba3

We also need to the tag for version release, so that we can access `.zip` or `tar.gz`

[2017-05-04 19:36] JohnSundell commented on #59
@aksswami Yeah you need to point the formula to this repo, not to your fork. For homepage, you can just use `https://github.com/johnsundell/marathon`. I can create a release during this upcoming weekend, have a few things I want to take care of before tagging a release.

Awesome that you're starting to look into this! I really appreciate it 👍

[2017-05-08 09:21] aksswami commented on #59
@JohnSundell I will complete the formula and create a PR to homebrew-core once you release the first version of Marathon. To create a homebrew formula we need to have a release, that's why I pointed to my fork for testing purpose.

Looking forward to Marathon release.

[2017-05-15 10:47] abhi18av opened #65 "Unable to `make` Marathon."
Hello @JohnSundell

I wanted to try out marathon, after closely following the installation instructions I run into the following error again and again.

The following info. may be relevant.
[code]

Here's the error.

[code]

Could you please help me out :)

[2017-05-15 14:34] Sovairon commented on #65
Hello, I am having the same issue as well.

[2017-05-15 14:48] pixyzehn commented on #65
@abhi18av @Sovairon
Hi, Can you try `swift package clean` before `make`?
`swift package clean` will delete build artifacts.

[2017-05-15 14:55] Sovairon commented on #65
Erens-iMac:Marathon erenatas$ swift package clean
Erens-iMac:Marathon erenatas$ make
swift package --enable-prefetching update
make: *** [install] Illegal instruction: 4

this is the output.

[2017-05-15 14:59] pixyzehn commented on #65
@Sovairon Ok, What version of Swift? you can check by `swift -version`.
I use the following version.

[code]

[2017-05-15 15:01] Sovairon commented on #65
Mine is the same as well... everything is same. I'm on Sierra 10.12.4 if that would help.

[2017-05-15 15:05] Sovairon commented on #65
Oh and, when I follow installation:

Erens-iMac:~ erenatas$ git clone git@github.com:JohnSundell/Marathon.git
Cloning into 'Marathon'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Instead I was cloning the repo by git clone https://github.com/JohnSundell/Marathon.git

[2017-05-15 15:54] Sovairon commented on #65
I have solved my issue. I generated ssh-rsa key and added it to github's ssh keys. https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

[2017-05-15 18:00] JohnSundell commented on #65
@Sovairon @abhi18av Yeah the solution is the one @Sovairon links to. I'll update to use HTTPS instead of SSH very soon, but in the meantime please follow GitHub's guide on how to set up SSH and you'll be able to install Marathon 🙂

[2017-05-15 18:04] Sovairon commented on #65
Can you add that link on Readme file as well? I'm sure there will be more people that will come across with this problem. Btw, you have made an awesome job. Thanks!

[2017-05-15 18:08] JohnSundell commented on #65
@Sovairon Thanks 😄 Actually, I'm switching to HTTPS now instead 👍

[2017-05-15 18:18] JohnSundell commented on #65
@Sovairon @abhi18av Done ✅ Just pull down the latest master and run `make` again and you should be good to go 👍 Feel free to close this issue if everything works 😄

[2017-05-15 18:49] JohnSundell commented on #35
Now that we run tests on parallel both locally and on CI, I think that this can be closed. @pixyzehn, @amlcurran, what do you guys think? 🙂

[2017-05-15 21:27] JohnSundell commented on #52
@rob-nash can this be closed?

[2017-05-16 00:00] pixyzehn commented on #65
Looks good, thanks!

[2017-05-16 00:02] pixyzehn commented on #35
@JohnSundell  I'm OK with it👍

[2017-05-16 05:42] abhi18av commented on #65
@JohnSundell , thanks for such a prompt response!

Yes, it does successfully copy the git repos but sadly, it fails during the build.

[code]

It might be 'cos I installed swift via brew, as mentioned in the very first comment. What's the best way to avoid such errors? Install XCode via appstore?
I'm sorry, but I'm new to swift :)

[2017-05-16 05:42] #65 closed

[2017-05-16 05:43] abhi18av commented on #65
Closed the issue since the original issue based on the git config seems to be solved now.

Still would appreciate a bit of help though.

[2017-05-16 05:59] abhi18av commented on #65
I think this might be helpful, though quite a long troublesome comment.

This is what happens when I launch `swift` from the terminal. It throws a long list of messages before entering the repl.

[code]

[2017-05-16 06:02] #35 closed

[2017-05-16 06:49] JohnSundell commented on #65
@abhi18av I'd recommend installing Xcode instead of installing Swift through Homebrew. It seems like you're getting errors from a lot of Apple-provided frameworks, which might not be installed.

[2017-05-16 06:50] JohnSundell commented on #65
Once you open Xcode for the first time it'll prompt you to install command line tools, and once you've done that you should be good to go 😄

[2017-05-16 07:09] rob-nash commented on #52
Ha yes. Sorry forgot about this.

[2017-05-16 07:09] #52 closed

[2017-05-16 09:13] abhi18av commented on #65
Ah, well. It seems swift and Xcode are tied together :)

Thanks everyone!

[2017-05-17 15:31] #34 closed

[2017-05-19 23:44] LuisMDeveloper opened #70 "swift build -c release -Xswiftc -static-stdlib -> same-type requirement makes generic parameter 'Element' non-generic"
Error while compiling:

`/Users/luismanuelramirezvargas/Projects/Marathon/Packages/Releases-1.0.6/Sources/Array+Version.swift:10:38: error: same-type requirement makes generic parameter 'Element' non-generic
public extension Array where Element == Version {
                                     ^
/Users/luismanuelramirezvargas/Projects/Marathon/Packages/Releases-1.0.6/Sources/Array+Version.swift:12

[2017-05-20 09:12] JohnSundell commented on #70
Hi @LuisMDeveloper 👋 Marathon requires Swift 3.1, so please update to Xcode 8.3 and try again 👍

[2017-05-21 02:03] garricn opened #71 "Improve instructions for deploying tools built with marathon"
I used marathon today to build a cool little tool. It was super fun and marathon made it really easy. When it came time to release my tool to the world, I wasn't really sure how to do that. I ended up using the SPM and the SPM install instructions on marathon's readme for install readme. It worked! After I SPN init'ed and some other things. Am I missing something? Is it easier to deploy a marathon

[2017-05-21 09:30] JohnSundell commented on #70
Closing this for now. @LuisMDeveloper let me know if you need any other assistance 🙂

[2017-05-21 09:30] #70 closed

[2017-05-21 17:26] garricn commented on #27
@JohnSundell If one were interested in implementing this, where would one begin to look? I'll have a look around and see if I might be able to do it. No promises though :)

[2017-05-21 19:01] JohnSundell commented on #27
@garricn Actually, this has already been fixed, just forgot to close the ticket 😱

[2017-05-21 19:01] #27 closed

[2017-05-21 20:45] JohnSundell commented on #50
This has now been fixed, all tests passes on Linux 🎉

[2017-05-21 20:45] #50 closed

[2017-05-21 22:08] JohnSundell commented on #71
I think it would make a lot of sense for marathon to include an `export` command, that would set up a folder structure that is both Marathon & SPM compatible - just like [TestDrive](https://github.com/johnsundell/testdrive). It could also include a `README`, `.gitignore` and the little `Package.swift` trick to ad-hoc generate a `main.swift` file like I do [here](https://github.com/JohnSundell/Test

[2017-05-21 22:23] garricn commented on #71
I think that would be amazing. Sounds like it would be fun to implement too! So user would run `marathon export myScript.swift` and out would be something like this at a given path:

[code]

Interesting question is now that I've exported it, how do I import it back into marathon for further development...

[2017-05-21 22:59] kareman commented on #71
What if Marathon worked equally well with Package Manager projects as with individual swift files? So "marathon run <folder>" would build and run it, and "marathon install <folder>" would put an alias to .build/release/<name> in /usr/local/bin. Leaving out <folder> would just use the current directory.

[2017-05-21 23:37] pixyzehn commented on #71
I understand what you guys say, but in my opinion, I'm a bit afraid that it may be complicated if `Marathon` has an import and export function. I prefer to be the outside of `Marathon`. I think it's better to create a package by SwiftPM for now, and then you'll put your script on a relevant part. What you have to do in here is just copy scripts and add dependencies if you have.
Also, you can use [

[2017-05-22 05:25] garricn commented on #71
Hi @pixyzehn :) Why do you think it would be complicated if `marathon` had an `export` function?

[2017-05-22 05:26] garricn commented on #30
I might be able to complete this task. Any hint so I can look around first?

[2017-05-22 06:06] pixyzehn commented on #71
Hi @garricn, I thought `marathon` is the management tool for scripts in Swift, so if `marathon` creates SwiftPM, I feel like not a responsibility of `marathon` at my first impression. But in terms of an automation tool, looks good. I'd like to hear thoughts from others:)

[2017-05-22 17:28] JohnSundell commented on #71
@garricn Exactly, but I would instead git ignore `main.swift` and ad-hoc generate it like I did for TestDrive. Makes the Marathon commands intact 👍

[2017-05-22 17:29] JohnSundell commented on #71
@kareman That's a really interesting idea, kind of plays into the idea of https://github.com/JohnSundell/Marathon/issues/43, that Marathon would be smart enough to figure out which Swift script to run. I don't think it solves **this** usecase though, but it's a very interesting idea nontheless 😄

[2017-05-22 17:31] JohnSundell commented on #71
@pixyzehn @garricn Marathon is a tool for Swift scripting, but eventually you might want to share those scripts with the world, and making it easy to do so is definetly a primary goal of this project. And until Marathon has achieved world dominance as a scripting tool (he he), other tools will need to be supported (in this case using SPM directly). So having an `export` command that outputs a fold

[2017-05-22 19:46] JohnSundell commented on #71
Although to @pixyzehn's point, we should keep it as simple as possible, as to not complicate Marathon or turn it into a full-blown project generator like SwiftPlate or PackageBuilder 😇

[2017-05-22 23:33] pixyzehn commented on #71
@JohnSundell I agreed to it👍  Let's go with that!

[2017-05-23 01:23] garricn commented on #71
There is a section in the README that talks about sharing scripts with team members. Maybe this sharing method is good enough and I'm just unable to understand how it works. If I used marathon to create a script, how can I share it as is? What's are your workflows like?

[2017-05-26 10:55] cojoj opened #74 "Autocompletion in different shells"
I'm a [`fish`](https://fishshell.com) user and I really love the autocompletion in it, so I'm also really happy that Marathon supports this for `zsh`.
I've decided that I'll extend Marathon's great user experience to `fish` and it's rather easy task, but some thoughts came to my mind during the investigation. Here they are...

---
First of all, `installShellAutocompleteIfNeeded ` installs `zsh` co

[2017-05-26 11:21] cojoj commented on #71
Just my 2 cents... I'd really love to see `export` functionality.
I'd really love to start simple with Swift scripting, and for this the current implementation of Marathon is perfect, because creating `mySweetScript.swift` and running it via Marathon is super simple and cuts the whole overhead described in one of [John's blog posts](https://www.swiftbysundell.com/posts/building-a-command-line-tool

[2017-05-26 12:40] JohnSundell commented on #74
I'd love for Marathon to have auto completion support for all shells, I just started with zsh because that's what I use. I also went with the "generate a string in Swift" approach simply because I had a **really** hard time understanding how Zsh autocompletion worked, and once I got **something** working, I just pushed that 😅 There's definetly a lot of room for improvements, and I really welcome P

[2017-05-26 12:47] JohnSundell commented on #71
@garricn I think the best example of how I share Marathon scripts is [TestDrive](https://github.com/johnsundell/testdrive). It supports both installing/running through Marathon, Make & SPM.

The easiest way to share a Marathon script (given that the recipient is also able to run it using Marathon) is to use [inline dependency annotations](https://github.com/JohnSundell/Marathon#specifying-dependen

[2017-05-26 13:09] cojoj commented on #74
I'd introduce one more level to this called `autocompltions` and inside have this distinction into different shells. Why? First of all, we don't have to pollute root directory with a couple of shell related directories. Secondly, if we decide to generate auto completions and reuse them in all shell generators - that'd be way cleaner approach.
I'll try to think about it more and come up with a PR p

[2017-05-26 13:11] JohnSundell commented on #74
Sure, sounds good! 👍 shouldn't be too many people using the zsh autocomplete yet either, since it hasn't been announced anywhere yet (except a note in the README), so I don't changing the folder hierarchy is a big deal at this point.

[2017-05-26 13:36] alexaubry commented on #71
@JohnSundell That sounds like a great solution 👍 I think it's important to let the user choose the most appropriate tool for its needs. Plus that would not complicate Marathon too much. +1!

[2017-05-27 19:03] garricn commented on #71
@JohnSundell Sounds great to me! How will it work when we want to use `marathon` to continue development of a project that was exported with `marathon export`? Do we just `marathon run` and then `marathon export` again?

[2017-05-28 12:04] JohnSundell commented on #71
The way I'm thinking that this will work is say you have a script called `MyScript.swift`. You export it using `marathon export MyScript.swift`. This will generate a new folder called `MyScript` in the current folder, with the following contents:

[code]

You now have the choice to continue developing the script using the original `MyScript.swift` file, or simply delete it and run `marathon edit M

[2017-05-28 15:50] cojoj commented on #71
@JohnSundell it's a great idea, but one thing I'd love to see - having both of them in sync. The current state of Marathon is when you run `marathon edit script.swift` it waits until you save in Xcode to reflect changes in `script.swift` file (I always forget as I keep Xcode open all the time). Would be nice to have sync mechanism.

[2017-05-28 16:23] JohnSundell commented on #71
@cojoj Actually, it doesn't 😅 It runs a timer that periodically saves the file back to the original source - since Xcode doesn't seem to report file change events consistently (at least I couldn't get it to work when I tried to). You can check the code here: https://github.com/JohnSundell/Marathon/blob/master/Sources/MarathonCore/Script.swift#L193.

The one problem with the current sync mechanism

[2017-05-28 19:55] garricn commented on #71
@JohnSundell Sounds great! So `marathon export` will create a copy of `MyScript.swift` and place it in the exported file structure and it will leave a copy of the original `MyScript.swift` in its original parent directory, correct?

[2017-05-28 20:12] cojoj commented on #71
Orrrrrr, how about having `marathon create --spm` Which will make just a copy of Chaed project, so that user can decide on creation whether he wants a full SPM project or a simple file fully managed by Marathon.

[2017-05-29 16:19] JohnSundell commented on #71
@garricn Yeah, exactly 👍 Sure, please do - I'll add the `ready for implementation` label to indicate that we are ready to start working on this 🚀

@cojoj The question is, if you're gonna use SPM directly, why even use Marathon at all? For larger projects this is totally a great option - when things stop being simple scripts and more complex command line tools I think it's better to use SPM directl

[2017-05-29 19:21] garricn commented on #71
@JohnSundell I would love to implement this improvement. I will certainly need your help though. You think I can do it? How long should it take?

[2017-05-29 19:25] JohnSundell opened #77 "Make it easy to write tests against your scripts"
Sometimes you want to write tests for your scripts. For example if you're making something publically available, or if the script goes through many iterations, or if it grows in complexity. Although at some point it'd be better to use the Swift Package Manager directly and just use `swift test` to perform tests, it would be very nice if Marathon included lightweight support for running tests using

[2017-05-29 19:25] cojoj commented on #71
@garricn it doesn't matter how long it'll take. We're all here to help 🙌.

You're right @JohnSundell, I was wandering somewhere else and forgot to keep it simple. Thanks for the [Package Builder](https://github.com/pixyzehn/PackageBuilder) hint ❤️

[2017-05-29 19:28] JohnSundell commented on #71
@garricn Of course you can do it! 👍 And like @cojoj says, we're here to help! 😄 I think it should be fairly straight forward, just using `Files` to create the folders and move the files into place.

As for the code structure, you can look at how the other tasks are organized, they basically are contained in a file with the task's name (so in this case `Export.swift`), and get resolved in `Command.

[2017-05-29 19:29] JohnSundell commented on #77
@clayellis @garricn we've been talking about testing scripts before, what do you guys think about this proposal? Would it be a nice way to unit test your scripts? 😄

[2017-05-29 19:44] JohnSundell commented on #43
Implemented here: https://github.com/JohnSundell/Marathon/pull/76

[2017-05-29 20:11] garricn commented on #71
Sweet! I'll start working on it and reach out when I need help :)

[2017-05-29 20:16] garricn commented on #77
I certainly have had the desire to write tests for my scripts. I'm just unsure how that would event work so it's hard for me to have an opinion on either marathon ought to help.

The way I was testing Twix, was by just manually running it on some files. Ideally, I would be able to run tests in my development environment. I set out to do it once, but I wasn't sure where to begin.

What do your curr

[2017-05-29 20:59] #43 closed

[2017-05-29 21:06] JohnSundell commented on #22
Sorry for taking a while to reply to this @pixyzehn. I agree that symetry is beautiful, but personally I don't really see this as such a big usecase. And given that it's so easy to just remove what you want to uninstall from `/usr/local/bin` I'm not sure if we should spend any time implementing and maintaining something like this...

[2017-05-29 21:41] JohnSundell opened #78 "Marathon remove --all-packages causes multiple updates"
When running `marathon remove --all-packages`, multiple `swift package update` commands are performed under the hood, making the removal take longer than needed. Ideally only one update should occur, at the end of the process.

**Current behavior:**

[code]

**Expected behavior:**

[code]

[2017-05-29 23:31] garricn commented on #71
I started working on it. Having fun :)

[2017-05-30 00:18] pixyzehn commented on #22
No problem:) I agree with the point you mentioned. I'll skip this feature for now👍 Thank you for giving me your thought!

[2017-05-30 00:18] #22 closed

[2017-05-30 05:45] clayellis commented on #77
I think that sounds like a great workflow for testing. (I think with scripting being such a lightweight process in and of itself, the workflow is equally as important as the implementation and should remain a high priority - fast, straightforward, and as frictionless as possible.)

So just to clarify, after running `marathon create MyScript --test` we'd create both `MyScript.swift` and `MyScriptTe

[2017-05-30 16:30] JohnSundell commented on #77
Totally agree with you @clayellis in that the testing process need to be lightweight and easy to get into. Also agree that it's wierd that `marathon test` does different things depending on state (will also make it harder to use it on CI, etc) 👍

I think I like option 2 the most, since it gives the user a clear action to take, and would be simpler to implement. What I also like about it is that it

[2017-05-30 21:49] JohnSundell commented on #77
@pixyzehn @darthpelo @alexaubry do you have any thoughts on this? 😄

[2017-05-31 06:37] darthpelo commented on #77
@JohnSundell I agree with you about the option 2 👍

[2017-05-31 15:35] johndpope opened #81 "clarification on adding / (if it not possible - letting user know) specific tags of repos in marathon add"
➜  Desktop marathon help add
📦  add
------
Add a package from a given URL to be able to use it from your scripts

👉  Usage: 'marathon add <url-or-path-to-package>'

ℹ️  You can also use a 'Marathonfile' to automatically add packages. See https://github.com/johnsundell/marathon for more information

[2017-05-31 15:36] johndpope commented on #81
eg. want to add tag 0.0.1
 marathon add https://github.com/johndpope/swift-grpc-tensorflow.git

https://github.com/johndpope/swift-grpc-tensorflow/tree/0.0.1

[2017-05-31 16:39] JohnSundell opened #82 "Add support for pinning specific versions of packages"
In order to make it easier to work with & share scripts that have dependencies, we should add support for pinning a certain version of a package to a script. The Swift Package Manager already supports this feature, but using it in Marathon requires circumventing the global package cache that Marathon uses to speed things up (to not have to re-clone and re-build each package for all scripts).

For

[2017-05-31 16:40] JohnSundell commented on #81
Version pinning is not yet supported, but it's something that we do want to add support for. I added this issue: https://github.com/JohnSundell/Marathon/issues/82 to keep track of this new feature, so feel free to put any comments/suggestions you might have in there 🙂 Closing this in favor of the linked issue.

[2017-05-31 16:40] #81 closed

[2017-05-31 16:43] JohnSundell commented on #82
@kareman @darthpelo @clayellis @pixyzehn @cojoj @alexaubry @garricn Would love any comments you might have on this 😄 (Let me know if it's annoying that I ping you on Marathon issues/PRs btw 😅)

[2017-05-31 16:46] kareman commented on #82
This looks very good to me.

[2017-05-31 17:17] garricn commented on #82
Seems like a reasonable request. Similar to version pinning in a Podfile, right?
So `marathon pin` will just append `@{VERSION}` to the Marathonfile?
Can the user do this manually?
Can the user specify the pin when running `marathon add`?
Should we use the pin for `Package.swift` for `marathon export`?

[2017-05-31 17:55] JohnSundell commented on #82
Great feedback 👍

1. No, it'll keep track of the pinned versions internally, probably as part of the package cache (each package has a `Package` object that specifies its version, name, url). A `Marathonfile` is different from a `Podfile` in that it's not required for running scripts, it's just a way to specify dependencies for other people running your script.

2. Yeah, it's all manually done. It

[2017-05-31 18:21] clayellis commented on #77
@JohnSundell sounds good, option two sounds like the way to go. As for the implementation, that seems like a good way to do it. Will `runScript(withArguments:)` need to be added to [MarathonCore/Script.swift](https://github.com/JohnSundell/Marathon/blob/5eed45ab7a2c4b4af952722a9d8e84a2cde4ce33/Sources/MarathonCore/Script.swift)? This would also give users the ability to test internal logic (withou

[2017-05-31 18:36] JohnSundell commented on #77
@clayellis The thing is that `MarathonCore` is not available to scripts unless you add it using `marathon add`, which I don't think should be a requirement. Instead, when we generate the Swift package for the script under testing, we should add a `XCTestCase+Marathon.swift` file to it that contains the `runScript` method (and any other utilities we want to add in the future). So the `XCTestCase+Ma

[2017-05-31 19:03] clayellis commented on #77
Ohhh, okay gotcha. So in order to get started on this we need to (so far):

 - Introduce a `test` command in [Command.swift](https://github.com/JohnSundell/Marathon/blob/master/Sources/MarathonCore/Command.swift)
 - Create a `TestTask`
 - Generate `XCTestCase+Marathon.swift` from  `TestTask`
 - Add a `--test` flag to [CreateTask](https://github.com/JohnSundell/Marathon/blob/master/Sources/Marathon

[2017-05-31 19:58] JohnSundell commented on #77
@clayellis Exactly 👍 You wanna work on this? 😄

[2017-05-31 20:00] clayellis commented on #77
I'll get started tomorrow morning!

[2017-05-31 20:01] JohnSundell commented on #77
Amazing! Let me know if you need any assistance, happy to help 🙂

[2017-05-31 22:40] pixyzehn commented on #77
@JohnSundell Sorry for late. I agree with option2 rather than option1. Looking forward to it:)

[2017-05-31 22:47] pixyzehn opened #84 "Run SwiftLint in CI"
I added [SwiftLint](https://github.com/realm/SwiftLint) to Marathon, but it works only in local so far.
So, this issue is aiming to run SwiftLint in CI to make sure to enforce a good Swift style.

See also https://github.com/JohnSundell/Marathon/pull/61

[2017-05-31 22:48] pixyzehn commented on #84
@JohnSundell Could you assign this to me?

[2017-06-01 01:46] garricn commented on #71
Can the label be changed to in progress?

[2017-06-01 03:03] garricn commented on #77
@clayellis Thank you for the reply. This all sounds great to me! I look forward to using this feature and learning more about how to test my scripts.

[2017-06-01 04:13] garricn commented on #71
I am working on this right now. I have a question. Where is marathon creating a swift file if it doesn't exist? Running `marathon export` creates a swift file. What should be the behavior? It seems to me that maybe marathon should throw an error: No script found. Or do we want export to create a swift file if it doesn't exist? You can view my WIP branch here: https://github.com/garricn/Marathon/tr

[2017-06-01 04:17] garricn commented on #71
@JohnSundell I updated the Issue description with the agreed upon output. Please confirm. Also, I have some questions:

Should output include:
* gitignore?
* README?
* Marathonfile?
* Makefile?
* Xcode project?
Also:
* What does the contents of Package.swift look like?
* How can I get the list of Packages?
* What does the contents of MyScriptTests.swift look like?

[2017-06-01 06:54] JohnSundell commented on #84
@pixyzehn Done 👌

[2017-06-01 07:04] JohnSundell commented on #71
@garricn About the output, let's keep it very simple for now. @clayellis is working on adding testing support for scripts in #77, so no need to add a `MyScriptTests.swift` file for now (we'll extend `export` later to support the testing functionality) 🙂 For now, this output is expected:

- `Package.swift` that defines the name of the package that was exported, as well as its required dependencies.

[2017-06-01 07:14] garricn commented on #71
@JohnSundell Great! That's super helpful. I updated the issue description with the output structure. Let me know if its incorrect.

[2017-06-01 21:09] JohnSundell commented on #71
@garricn It's correct 👍

[2017-06-02 03:52] clayellis commented on #77
If a script (`MyScript`) doesn't exist and a user runs `marathon create MyScript --test` I'm going to create the script as usual and add a `MyScriptTests.swift`. (Obviously, running the same command if `MyScript` already existed would only create the tests file.) Unless you guys think the behavior should be any different @JohnSundell @pixyzehn @garricn ?

[2017-06-02 05:54] clayellis opened #87 "Should scripts names maintain user capitalization"
`marathon create SomeScript` produces a target named `Somescript`. Should the default behavior be to capitalize target names while maintaining other capitalized letters? e.g.:

`SomeScript` -> `SomeScript` instead of `Somescript`
`someScript` -> `SomeScript` instead of `Somescript`

What do you think @JohnSundell?

[2017-06-02 06:56] clayellis commented on #77
I'm leaning towards naming the flags `--tests` instead of `--test` since you write *tests* for code, not just *a* test. What think ye?

[2017-06-02 08:50] #84 closed

[2017-06-02 08:52] JohnSundell commented on #87
@clayellis Sounds like a nice improvement, but I'm not sure if it really matters, given that this is only for the temporary Xcode project. Or am I missing something? 😄

[2017-06-02 08:54] JohnSundell commented on #77
@clayellis Sounds great 👍

[2017-06-02 13:06] JohnSundell opened #90 "Find a better syncing solution for script files"
When the user starts editing a script (using `marathon edit Myscript.swift`), we start syncing the file between the internal copy that Marathon maintains (in order to be able to generate packages for the script) and the original script file (located wherever the user wants).

Currently, this sycning mechanism is done through a simple timer, that every 3 seconds copies the original script file back

[2017-06-02 13:07] JohnSundell commented on #90
@kareman @darthpelo @clayellis @pixyzehn @cojoj @alexaubry @garricn Any ideas on how this can be solved in a better way? 🙂

[2017-06-02 14:31] clayellis commented on #90
Just firing off ideas in the hopes that one of them sticks —
In the same way that `ScriptManager.makeScriptPathList()` "takes the opportunity to clean up cache data", what if `marathon run | edit | create --tests` "took the opportunity" to copy the original script file back to Marathon? The way I see it, Marathon only needs to *be in sync* when the user:
1. `run`s the script
2. Opens the script th

[2017-06-02 15:46] alexaubry commented on #90
One solution could be to create a small daemon that uses the Kernel Queues API to listen to file changes in the background.

🌎 From the [Documentation](https://developer.apple.com/library/content/documentation/Darwin/Conceptual/FSEvents_ProgGuide/KernelQueues/KernelQueues.html#//apple_ref/doc/uid/TP40005289-CH5-SW2):

Whenever the daemon would receive a file change notification from the kernel, it

[2017-06-02 16:08] JohnSundell commented on #90
@clayellis The problem is that when the user edits the script in Xcode, the original script file is not the file being edited. Meaning that if some edits are made after Marathon stops syncing, they won't be copied back to the original. So the copying needs to go `MarathonCopy -> Original`, not the other way around. And we can't really copy Marathon's version into the original file, because the use

[2017-06-02 19:42] clayellis commented on #90
D'oh! I was bored in a meeting when I drummed that up. I had the files backwards. I'll keep thinking. I like @alexaubry's idea — time for some reading.

[2017-06-02 21:37] cojoj commented on #90
AppleScript? 🤔 (Blind guess, without any proven background)

[2017-06-02 21:42] cojoj commented on #90
But we should look for something not tied to Apple's ecosystem.

[2017-06-02 22:33] garricn opened #91 "Update script(at:) param name"
Instance method `script(at:)` of `ScriptManager` should be renamed to `script(atPath:)` to match Swift API naming convention as argument name `atPath` provides more context than argument type `String`.

[2017-06-02 23:47] garricn opened #92 "Install SwiftFormat as a build phase run script"
Have you considered this to enforce formatting?

[2017-06-03 01:06] garricn opened #93 "Fix create script --no-open not adding script to managed scripts"
I noticed an issue where running `marathon create script --no-open` fails to add `script.swift` to managed scripts. Running `marathon list` shows script not listed and checking `scriptManager.managedScriptPaths` returns 0 elements.

Is this a bug?

[2017-06-03 05:30] clayellis commented on #87
At this point, it's just a nicety really! It would have no effect other than consistency with what the user had entered (since it does end up being a user-facing name anyways.) It would be a one-line fix.

[2017-06-03 05:38] clayellis opened #94 "Marathon edit looking for GitHub repo when it shouldn't"
If you run `marathon edit FooScript` it prints this error:
[code]
It seems like Marathon should know that it shouldn't try to resolve scripts from GitHub unless there is a `/` in the path (since you won't ever find any repos directly off of `https://github.com/`, but rather after `username/`. Marathon assumes right away that if the script doesn't exist at that path it must be a remote repo, which

[2017-06-03 11:05] JohnSundell commented on #92
Actually @pixyzehn already added SwiftLint for this purpose here: https://github.com/JohnSundell/Marathon/pull/89 and here: https://github.com/JohnSundell/Marathon/pull/61 😄

[2017-06-03 11:06] JohnSundell commented on #92
That being said, we should make it run locally as well as in CI, without any manual work. How about calling it using ShellOut in a test? What do you think @pixyzehn?

[2017-06-03 11:08] JohnSundell commented on #93
This is not a bug, as Marathon has no reason to start managing a script if the user doesn't want to open it 🙂 The only reason Marathon starts managing a script is to be able to generate a package for it, and this is only needed if it should either be run, installed, or edited using Xcode.

[2017-06-03 11:09] JohnSundell commented on #94
Yeah, this is a bug. It's a regression caused by https://github.com/JohnSundell/Marathon/pull/76, will fix it 👍 Will also add the prompt like you suggested @clayellis, great idea! 🚀

[2017-06-03 11:12] JohnSundell commented on #30
Yeah, we basically just need to check for the `--packages` or `--scipts` flag in the `ListTask`, and then either just list packages or scripts.

[2017-06-03 12:11] #94 closed

[2017-06-03 16:07] garricn commented on #92
Weird. I meant to write SwifFormat. I must have been really tired!

[2017-06-03 16:10] JohnSundell commented on #92
@garricn You did, but I changed the title of the issue to reflect the task at hand 😉

[2017-06-03 16:15] garricn commented on #92
Have you considered using both? They serve slightly different purposes...

[2017-06-03 16:17] garricn commented on #30
I have a better handle on the project now. I'm sure I can handle it. I'll be at dub dub this week and I want to land #71 first though.

[2017-06-03 16:18] garricn commented on #93
Thank you

[2017-06-03 16:30] clayellis commented on #30
@garricn Lucky! Have fun!

[2017-06-03 18:27] #93 closed

[2017-06-04 01:45] clayellis commented on #90
This isn't a permanent fix, nor is it very reliable one, but it's something to add to the list of ideas.

`open -W script`

From `man open`:

This works as a replacement of the current system **except** when Xcode was already open before we open a script for editing. In which case `open -W` will wait until those windows are closed as well. So that means it won't be very reliable. Though not as a s

[2017-06-04 02:54] clayellis commented on #77
@JohnSundell when you said this

Did you envision that happening during the `create MyScript --tests` phase or the `test MyScript` phase? How will `runScript(withArguments:)` be available in `MyScriptTests.swift`? I was thinking for a second that we would generate the extension in the same directory as the original script/tests files so that it would be available that way, but then we're missing t

[2017-06-04 09:16] kareman commented on #90
The problem is that when the user edits the script in Xcode, the original script file is not the file being edited.

Can we make Xcode edit the original script file and place a symlink in marathons copy to it? So `marathon edit` creates an Xcode project like it does now, then alters it to use the original script. I have no idea how to do this programmatically though.

[2017-06-04 15:39] JohnSundell commented on #90
@cojoj The fix can totally be tied to Apple's ecosystem, as this is for Xcode editing only. I don't know how AppleScript could solve this problem though 😄

@clayellis Like you said, `open -W script` also has significant downsides, so don't think it's a solution. But awesome that you're keeping the ideas coming, and like you also said, good to document every solution considered 🚀

@kareman The prob

[2017-06-04 15:52] garricn commented on #87
It would make `export` slightly easier since the project and file name could be based on `script.name` without modification rather than `arguments[0]` with modificatio, as I'm doing now.

[2017-06-04 16:37] JohnSundell commented on #87
Alright, so let's do it 👍

[2017-06-05 09:34] JohnSundell opened #98 "Fix CI flakiness"
Our CI can sometimes exhibit some flaky behavior in that it'll fail for no good reason, and a retrigger solves the problem. Let's investigate what's going wrong (maybe it's a caching thing, or some state that isn't properly cleaned up, or some race condition?) and fix it!

Interestingly, the flakiness is different on BuddyBuild vs Travis.

### Travis

Here's what a failed build log usually looks l

[2017-06-05 09:35] #74 closed

[2017-06-05 11:07] cojoj commented on #98
Most of the time when I was getting _strange errors_ in different CIs it was regarding timeouts. We're using free plans, so the bandwidth etc. is relatively slow.
Marathon test suite is _heavy_, so I wouldn't be surprised if it will turn out to be timeout errors.

Regarding buddybuild error. Maybe extracting `try? folder.subfolder(named: "Packages").file(named: "Files").read()` to a `let` can will

[2017-06-07 06:45] melbic opened #99 "Compile Error: node is produced by multiple commands"
Hey,
I just tried to create a simple script, but unfortunately I can't get it to compile.
The script in its simplest form (`dokkuFetcher.swift`):
[code]
`marathon run dokkuFetcher --verbose` has the following output:
[code]
Additionally to the default dependencies I added: https://github.com/kareman/SwiftShell
What did I do wrong?

[2017-06-07 06:47] cojoj opened #100 "Making test suite run faster"
At the moment of writing Marathon's test suite contains of 51 tests and it takes _forever_ to run them (I know, I can buy iMac Pro... 🙄). It's really not cool to run them locally to check for regression as it takes a lot of time, so we leave regression to CI only 😂

I'd love to see Marathon's test suite run faster, so we can benefit from running tests often and encourage new contributors to write

[2017-06-07 07:11] cojoj commented on #99
@melbic can you tell us which Swift version was used to compile this?

[2017-06-07 07:13] melbic commented on #99
[code]

[2017-06-07 07:29] cojoj opened #102 "Report linting warnings to PR"
Our CI is printing linter errors/warnings just fine, but the results aren't visible to the PR creators. - which kinda sucks, right? 😜
Do you know how to achieve this @pixyzehn?
One thing that comes to my mind is to introduce [Danger](https://github.com/danger/danger) ([since buddybuild uses it without any issues](https://github.com/danger/danger/issues/695)) and use something like [this](https://g

[2017-06-07 07:39] pixyzehn commented on #102
@cojoj You can see the errors/warnings in buddybuild logs for now like this.
https://dashboard.buddybuild.com/public/apps/58ff19a79a06210001d14c2d/build/5937a686f8735a0001c4b64b#logs

But I know it's a bit troublesome... if we put a high priority on fixing the errors/warnings by SwiftLint, it's better to use such a tool.
The one bad thing is that we have to maintenance such a dependency.
@JohnSund

[2017-06-07 07:47] cojoj commented on #102
Hah, dependencies... Dependencies everywhere... ¯\_(ツ)_/¯

[2017-06-07 07:58] pixyzehn commented on #102
Yes, but I understand Danger helps us a lot especially for a big OSS. Maybe it's time to introduce it!

[2017-06-07 07:58] cojoj commented on #99
@melbic huh, I have no clue... I have the same version and I'll try to play with it to reproduce this issue. Does it happen everytime for you?

[2017-06-07 08:01] cojoj commented on #102
It's a nice addition for keeping consistency in project. Especially when it comes to modifying more than just a source files. Right now you have to remember everything by heart... If you add something, update README etc.

[2017-06-07 08:06] JohnSundell commented on #99
@melbic @cojoj This issue happens when the Swift Package Manager builds the same package multiple times. This should normally not happen (because of dependency graph resolution), but there seems to be a bug that causes SPM to get confused if the same package appears in the graph but with different URLs.

For example, adding Files using the URL `git@github.com:johnsundell/files.git` on the top leve

[2017-06-07 15:48] JohnSundell commented on #102
Sounds great! I'd love to add Danger to Marathon. I'll update the issue title to "Add Danger" and set it to ready for implementation. Anyone up for the task? 😄

[2017-06-07 15:51] JohnSundell commented on #100
@cojoj This has already been discussed here: https://github.com/JohnSundell/Marathon/issues/35 🙂 Since we started running the tests in parallel we felt that they were running fast *enough*. Sure, they could still run faster, but since we do run everything with the real file system, performing real clone operations etc, things are always going to be a bit slow. It's a tradeoff worth making for this

[2017-06-07 16:40] cojoj commented on #100
I had one idea, but I guess with `--parallel` it doesn't make any sense. I see benefits of doing real operations (not mocking), and for this project I wouldn't change it, but I was thinking about reducing some actions by **grouping together** tests which can form some sort of _scenario_, but since `--parallel`... ¯\_(ツ)_/¯

[2017-06-07 16:45] mathieutozer opened #103 "marathon add not resolving / finding Package.swift"
When doing the following
marathon add https://github.com/kareman/SwiftShell
marathon add https://github.com/kylef/PathKit

I get

💥  Could not resolve the name of package at 'https://github.com/kylef/PathKit'
👉  Make sure that the package you're trying to add is reachable, and has a Package.swift file

Both are reachable and have Package.swift in their root directories - is there possibly some oth

[2017-06-07 17:01] JohnSundell commented on #103
@mathieutozer Hi, and welcome to Marathon 👋 You need to give the `add` command a *Git URL* to add. So in this case, simply append `.git` to the URLs that you want to add and it'll work. We can definetly improve the error message Marathon displays to give you better information on why adding these packages failed 👍

[2017-06-07 17:24] cojoj commented on #102
I can play with it @JohnSundell. I always wanted to give Danger a spin 😎

[2017-06-07 17:26] mathieutozer commented on #103
That worked, but for SwiftShell's case I am now getting

marathon add http://github.com/mathieutozer/SwiftShell.git
🏃  Cloning http://github.com/mathieutozer/SwiftShell.git...
   Resolving latest major version for http://github.com/mathieutozer/SwiftShell.git...
💥  Could not resolve the latest version for package at 'http://github.com/mathieutozer/SwiftShell.git'
👉  Make sure that the package you'

[2017-06-07 18:08] cojoj commented on #98
Feels like Swift 3.2 introduced new problem. Take a look at this [integration](https://dashboard.buddybuild.com/apps/58ff19a79a06210001d14c2d/build/593832367b477500010f4129) .
I've faced this issue locally as well when I was running tests. It's stuck on `testAddingAndRemovingRemotePackage` or `testAddingLocalPackage`.

[2017-06-07 18:53] JohnSundell commented on #98
@cojoj Fixed that issue here: https://github.com/JohnSundell/Marathon/pull/104

[2017-06-07 18:54] JohnSundell commented on #102
@cojoj Awesome 🚀

[2017-06-07 19:25] #91 closed

[2017-06-07 20:04] JohnSundell commented on #100
@cojoj The `UUID` subfolders are used to enable parallelization, to make sure all the test cases operate in a unique folder. All for cleaning up the `.marathonTests` folder, how are you thinking about doing that? Because it can only be cleaned once the entire suite has finished.

[2017-06-07 20:11] cojoj commented on #100
We can clean up in every `tearDown` since we're recreating everything in `setUp`, right? There's also one nice thing here https://stackoverflow.com/a/29822900/1911042

[2017-06-07 20:12] JohnSundell commented on #103
@mathieutozer You are missing an "s" in "https" in your URL 🙂 Use this command and it will work:
[code]

[2017-06-07 20:14] JohnSundell commented on #100
@cojoj We can't clean up the main Marathon-folder (`~/.marathonTests`) in a `tearDown` since the tests are parallelized 🙂

[2017-06-07 20:16] cojoj commented on #100
Yeah, ok, but take a look at `override class func tearDown()` - it's called after executing all tests.

[2017-06-07 20:31] JohnSundell commented on #100
Oooh! I've always thought that `tearDown` gets called after each test method 😮 Well, you live and you learn 😄 Then we should be able to use `tearDown`, like you say. Feel free to submit a PR 👍

[2017-06-07 21:16] mathieutozer commented on #103
oops ☺️

[2017-06-07 21:33] JohnSundell commented on #103
@mathieutozer 😄 Cool if I close this?

[2017-06-07 21:48] #103 closed

[2017-06-08 08:06] cojoj commented on #102
I'm working on it in #106 🙌 Feel free to write what you;d like to see in `Dangefile`

[2017-06-08 10:23] cojoj commented on #102
It's super strange that I can't make SwiftLint work with our CI... It's not reporting at all! I don't know what's the issue... I've tried looking up some similar _set ups_ and for wxample [firefox](https://github.com/mozilla-mobile/firefox-ios) has it and it works just fine. @pixyzehn have you ever faced such issue? I don't know if it's a bug or maybe I'm missing something in integration...

[2017-06-09 07:44] pixyzehn commented on #102
@cojoj I have never faced that...🤔

[2017-06-09 12:04] JohnSundell commented on #87
Fixed this as part of adding Swift 4 support 🎉 https://github.com/JohnSundell/Marathon/pull/107

[2017-06-09 12:04] #87 closed

[2017-06-09 16:54] cojoj commented on #102
@pixyzehn FYI solved it... Looks like our `.swiftlint.yml` had _some_ conflicts. If you're interested you can take a look at: https://github.com/ashfurrow/danger-swiftlint/issues/43

Also, please take a look and verify `.swiftlint.yml` in #106

[2017-06-10 13:02] melbic commented on #99
Perfect, that did fix the problem.
Thanks for the answer.

[2017-06-10 15:17] #99 closed

[2017-06-13 10:20] #100 closed

[2017-06-15 02:08] garricn opened #109 "Add Marathon to the Swift Source Compatibility Suite"
https://swift.org/source-compatibility/#current-list-of-projects

[2017-06-18 21:52] JohnSundell commented on #109
Sounds like a great idea 👍

[2017-06-19 10:41] PoissonBallon commented on #59
Hi,
Any news about this ?
Thanks to @JohnSundell for marathon btw
cc @aksswami

[2017-06-19 16:48] JohnSundell commented on #92
I'm personally fine with only running SwiftLint 🙂

[2017-07-03 06:51] sahara108 opened #110 "Marathon run isn't working properly"
I have found that running the scripts by using `marathon run myscript.swift` doesn't work properly. It hangs the program forever. I end up build an executable program to use it.
I am using 10.13 Beta (17A291j). The code is write using swift 4

[2017-07-06 19:12] JohnSundell commented on #110
Hi @sahara108. Could you provide some more debuggable information? What kind of script are you trying to run? Does it have any dependencies? I haven't tried Marathon on 10.13 Beta yet, so it might have something to do with it as well.

[2017-07-07 02:56] sahara108 commented on #110
Just try to use the Vision framework to detect and crop face from a picture.

[code]

[2017-07-08 09:25] JohnSundell commented on #110
And you're saying that the exact same code works if you put it inside an executable program instead? Are you using the Swift Package Manager or a command line app from Xcode? What is the output if you run the script using the `---verbose` flag?

[2017-07-08 09:55] sahara108 commented on #110
And you're saying that the exact same code works if you put it inside an executable program instead? Yes
Are you using the Swift Package Manager or a command line app from Xcode? No

Verbose output:
$ marathon run getImages.swift --verbose
[code]

[2017-07-25 16:22] clayellis opened #112 "Unable to run when script uses readLine()"
Marathon seems unable to run scripts that make use of `readLine()`.

Steps to reproduce:
1. `marathon create GetInput "import Foundation; print(\"Enter something\"); let result = readLine(); print(result)"`
2. `marathon run GetInput`

Marathon will then hang indefinitely without even printing `Enter something`. However, if you navigate to the cache location and build/run the script there, everythi

[2017-07-31 09:58] nextorlg opened #113 "Marathon having issues to manage packages"
I've started using Marathon but I seem to be hitting the same problem again and again

[code]

I did `chmod -R a+w .marathon` in me user home to make sure the path was writable. Swift package manager error is not very helpful either.

Installing a new package shows the same error but it is added in the Packages folder and marathon gets confused thinking it was installed

[code]

I bet is something

[2017-08-13 20:49] jeffctown opened #114 "Different behavior for arguments with spaces"
Hey there.  I'm new to Marathon, but have been loving it so far.  I started working on a script to post a message to the Slack API that I would like to run using marathon, but I have run into issues when an argument has spaces in it.  Running this script via the executable seems to have a different behavior than running the script using Marathon.

Here is my Marathonfile:
[code]

Here is the conte

[2017-08-14 17:33] JohnSundell commented on #114
Hi @jeffctown 👋 Thanks a lot for this bug report - I have fixed it in this PR: https://github.com/JohnSundell/Marathon/pull/115.

[2017-08-14 17:36] #114 closed

[2017-08-14 17:45] jeffctown commented on #114
@JohnSundell you are the man.  thanks so much.  i will try it out tonight.

[2017-08-14 17:58] jeffctown commented on #114
I can confirm your fix works!   🍾🍾🍾

$ marathon run post-to-slack.swift -m "Two Words."
*** MessageArg.value: Two Words.
*** Message: Two Words.

[2017-08-14 19:01] JohnSundell commented on #114
Awesome! 🎉 Happy scripting 😀

[2017-08-16 12:51] kaandedeoglu opened #116 "Specify deployment target in Marathonfile"
I get the following error, because of my usage of `hasDirectoryPath` which only available on OS X 10.11+:

[code]

Is there anyway I can set the deployment target to OS X 10.11+ through Marathonfile?

[2017-08-22 21:21] orta commented on #59
Ping, this one is blocked by a release of Marathon @JohnSundell  - might be worth a 1.0?

[2017-08-24 09:11] JohnSundell commented on #59
@orta @PoissonBallon @aksswami Sorry for the delay on this one - I have just released Marathon version `1.0.0` 🎉 So Homebrew support can now be added 🚀

[2017-08-24 19:15] orta commented on #59
Thanks John,  I took a stab at the homebrew setup but will need a patch release I think to make it work, PR incoming.

[2017-08-24 19:24] orta commented on #59
With the changes in https://github.com/JohnSundell/Marathon/pull/118

This can be submitted (with updated version + SHA)

[code]

[2017-08-25 08:29] codeOfRobin opened #119 "Can't edit files"
I tried running `marathon edit createSession` and it says.

[code]

I can verify that the file exists, and `marathon edit createSession --no-xcode` seems to work.

[2017-08-25 09:38] JohnSundell commented on #59
Perfect, just merged the PR! 👍 Who wants to take this forward and submit the formula to Homebrew? 😄

[2017-08-25 09:40] JohnSundell commented on #119
Hey @codeOfRobin 👋 Could you run `marathon edit createSession --verbose` and post the output here, so that we can start debugging the issue?

[2017-08-25 09:54] codeOfRobin commented on #119
👋 Running with verbose gives me
[code]

Looks like it's an issue around SPM not quite liking his tests. We should probably inform Elvis about this.

[2017-08-25 13:09] orta commented on #59
@JohnSundell it'll need a release too 🍡

[2017-08-26 10:10] JohnSundell commented on #59
Of course 🤦‍♂️ Done ✅

[2017-08-26 15:08] orta commented on #59
Thanks: turns out I couldn't use the makefile stuff anyway, (swift build sandboxing with homebrew issues) - could move into the makefile as a non-sandbox'd build though

PR: https://github.com/Homebrew/homebrew-core/pull/17266

[2017-08-26 17:11] orta commented on #59
Hrm, so the name marathon already exists inside brew/cask (the Mac .app section of homebrew) - which means that we can't submit as "marathon".

Opinions on "marathon-cli" or "marathon-swift" or something like that?

[2017-08-26 19:08] JohnSundell commented on #59
@orta bummer 😕 but I think `marathon-swift` is a good option - if we were to use `marathon-cli` it might look like it's a CLI for the "other Marathon" 🙂

[2017-08-26 19:09] JohnSundell commented on #59
@orta really awesome that you're doing this - it's gonna be a huge improvement for Marathon 👍

[2017-08-26 20:15] orta commented on #59
No worries will update, getting this on homebrew is a [blocker on danger-swift](https://github.com/danger/danger-swift/issues?utf8=✓&q=is%3Aissue%20marathon) - as I need a reasonable way to do swift system-dependencies.

[2017-08-26 21:37] orta opened #120 "Support projects with multiple files"
I'm open to being told a better conceptual way to do this, for context, I'm thinking of https://github.com/danger/danger-swift/issues/8

I have a project that _has_ to have a library target, and ideally some sort of end-user installable script-ish file. Which means multiple swift files in the rep. This script file could probably end up referencing others in the same target. I don't want to move my

[2017-08-26 22:06] JohnSundell commented on #120
Could a [`Marathonfile`](https://github.com/JohnSundell/Marathon#using-a-marathonfile) be the solution here? 🤔

Marathon can already install remote scripts using the syntax you mention - it can infer GitHub URLs if you give it an `owner/repo` combination - but it's limited to a single Swift file (currently, that could always be changed). But, you can reference other frameworks/files using a `Marat

[2017-08-26 22:07] JohnSundell commented on #120
For example, here's how it's done for TestDrive, which consists of a single script file that has 4 framework dependencies: https://github.com/JohnSundell/TestDrive/blob/master/Sources/Marathonfile

[2017-08-26 22:10] JohnSundell commented on #119
Looks like the framework you're trying to use does not have a Swift 4-compatible layout. As of Swift 4, all code needs to be contained in folders matching the various modules/targets of a Swift Package. So the framework needs to be updated to support Swift 4.

Marathon's error message could be better here of course.

[2017-08-26 22:38] orta commented on #120
The bit that feels odd for me here is that a lot of features require changes in both the runner and the library,  I'd have to make it a [dumb script](https://github.com/danger/danger-js/blob/master/source/commands/danger.ts) and complex lib (everything else) - separating those into completely separate repos entire feels like a lossy abstraction to me.

Maybe this is a SwiftPM thing that I'm not qu

[2017-08-26 23:59] orta commented on #120
Interesting, so TestDrive really is a great example of that pattern - OK, I'll give this a shot

[2017-08-27 21:34] orta commented on #120
OK, I've re-re-thought, and come back to the idea that this should work.

I feel like Danger Swift is the same kind of scope as Marathon and is structured the same - it's obviously not possible to self-bootstrap but I really feel like there should be something else that makes handling swift PM executables easy.

[2017-08-27 21:56] JohnSundell commented on #120
The only thing we really need to enable Marathon to install pretty much any Swift PM project is to enable it to remotely install a script/project with multiple files. It already works for local scripts, but for remote ones you get an error if you try to install a script from a repo that contains multiple Swift files.

The only thing (as far as I can think of now) that we really need to implement i

[2017-08-27 22:19] orta commented on #120
Could it be if there are multiple files marathon does `swift package dump-package` on the  `Package.swift` and checks if they contain any executables? Then in theory you can have any amount of files per product

[2017-08-27 22:20] orta commented on #120
Moves away from "scripting" in the sense of a quick one-off, but does leave a larger space for apps which are scripty. Things like SwiftFormat/SwiftLint/R.swift should be installable via marathon then

[2017-08-27 22:49] JohnSundell commented on #120
Yeah it's super interesting 👍 Using `dump-package` could definitely be a solution, I can look into different options tomorrow 🙂

[2017-08-29 06:27] codeOfRobin commented on #119
Cool, thanks a lot! I'll speak to the project maintainer.

[2017-08-29 06:27] #119 closed

[2017-08-31 13:51] orta commented on #59
Done, and updated docs in #124

<img width="873" alt="screen shot 2017-08-31 at 09 50 26" src="https://user-images.githubusercontent.com/49038/29926595-e68d4994-8e31-11e7-9975-b16a409f7821.png">

[2017-08-31 13:51] #59 closed

[2017-08-31 14:06] JohnSundell commented on #59
That is AMAZING! 🎉 Thanks a lot @orta - I'm super excited about this, huge improvement for the project! 🚀

[2017-08-31 14:42] JohnSundell commented on #120
Have been busy for the last few days, but will definitely find time to look into this over the weekend. Will keep this issue up to date with what I come up with 😄

[2017-08-31 14:50] JohnSundell commented on #59
Also big thanks to you @bennokress & @aksswami & everyone else who has done work on this 👍

[2017-08-31 14:55] orta commented on #120
Never feel guilty for not doing OSS 👍 🥇

[2017-08-31 15:03] SD10 commented on #120
Definitely not my area of expertise but I'll try and learn more over the weekend 😅 Thank you both 🥇

[2017-09-03 21:14] JohnSundell commented on #120
PR here: https://github.com/JohnSundell/Marathon/pull/125. With this, any executable Swift package can now be installed directly using Marathon 🎉 Very few changes needed to be made, since what Marathon does is basically just to generate Swift packages for scripts, so it's inherently SPM compatible 🚀

[2017-09-04 11:36] orta opened #126 "Provide compiler error when not in verbose"
To get any useful information (which you need to continue) with a project, I have to re-run with `--verbose`

[code]

Running with `--verbose`:

[code]

Ideally the `swift-build: error: Package requires minimum Swift tools version 4.0.0. Current Swift tools version is 3.1.0` would show without running verbose

[2017-09-04 13:29] #120 closed

[2017-09-04 13:38] JohnSundell commented on #126
Totally agree, just like how we bubble up standard build errors (even in non-verbose mode) we should do the same for SPM errors. Especially for tools version, since that's a quite common error to encounter.

[2017-09-04 13:42] JohnSundell commented on #116
It's not possible yet. Perhaps we can add another comment syntax for this, just like how you can specify dependency URLs inline using `// marathon:<url>`. This also has the added benefit of working the same was as how you can specify as Swift tools version when using the Swift Package Manager (using `// swift-tools-version:4.0`).

Perhaps adding support for a syntax like `// marathon: min-macos-ve

[2017-09-04 13:48] JohnSundell commented on #112
@clayellis sorry for the slow response 😞 This is because of a limitation of [ShellOut](https://github.com/johnsundell/shellout), that it currently only operates synchronously. This is definitely something that I want to fix, since some new tools that I'm working on that require user input are also blocked by this. Hopefully I (or someone else 😇) can get around to fixing it soon.

[2017-09-08 14:01] orta opened #128 "Adding --verbose changes the paths of the installed projects"
<img width="855" alt="screen shot 2017-09-08 at 10 00 43" src="https://user-images.githubusercontent.com/49038/30215069-abddc00c-947c-11e7-9209-6dae4d39e39a.png">

[2017-09-08 14:12] orta commented on #128
I'm assuming this is a re-name script feature, that ideally should strip `--verbose` from an array of args

[2017-09-16 06:36] lf-araujo commented on #113
Did you manage to go past this problem? I am running into identical problem in Ubuntu 17.04.

[2017-09-17 04:34] lf-araujo commented on #113
@JohnSundell thansk for the amazing tool, I want to help. How can I help debugging this error? It seems to be affecting Linux, in my case Ubuntu.

[2017-09-17 14:13] codeOfRobin opened #129 "Mysterious compile error with Marathon(works fine inside of Xcode8, not in Xcode 9)"
Hey John!
Ran into a problem running my marathon script inside of Xcode 9. As far as I can tell, it compiles and runs fine in the Xcode 9, but when I run

[code]
Here's the script for your reference: https://gist.github.com/codeOfRobin/247f8e0f19ffaa97ec4990a7f00f7871

[2017-09-18 16:29] JohnSundell commented on #129
Hi @codeOfRobin! 👋 The reason your script fails to compile (which we should totally add a much better error message for) is because one of your dependencies - Commander - doesn't support the Swift 4 version of the Swift Package Manage, which Xcode 9 ships with. Swift 4 uses a new format for `Package.swift`, which all your dependencies need to use in order for you to be able to run the script using

[2017-09-18 16:30] JohnSundell commented on #128
Yeah we should totally fix this 👍

[2017-09-18 16:34] JohnSundell commented on #113
@nextorlg @lf-araujo Interesting.. what happens if you go into the `~/.marathon/Packages/Generated` folder and run `swift package update`? Do you see the same error?

[2017-09-19 04:27] lf-araujo commented on #113
Same error:

![captura de tela de 2017-09-19 14-26-39](https://user-images.githubusercontent.com/10139950/30575828-b42d1fdc-9d46-11e7-9879-cf892b163d97.png)

[2017-09-19 12:42] johandk89 opened #130 "Unable to edit all script with Xcode"
Lets say I have 2 files in my script. `Script.swift` which I created with `marathon create Script.swift` and `File1.swift`.

I added `File1.swift` to my Marathon file and everything works fine, I can build the app and the code in `File1.swift` is executed. But when trying to edit these files in Xcode by running `marathon edit Script.swift` it opens a Xcode project with both files in the project bu

[2017-09-23 06:45] johandk89 commented on #128
I created a pull request for this: https://github.com/JohnSundell/Marathon/pull/131

[2017-09-24 23:38] MasterSwift opened #132 "build warning"
warning: '--chdir/-C' option is deprecated; use '--package-path' instead

have you seen this error ? For some reason, its causing marathon to output
💥  Failed to compile script

but it only happens on a linux server I'm using. on a local macOS computer, I get no errors and it builds perfectly. not sure if this is causing the error or something else not being outputted into the CL.

[2017-09-25 01:09] orta commented on #132
This could be that one version is using Swift 3, and the other is using Swift 4: type `swift package --version` to see which version is on your setup.

[2017-09-25 04:12] MasterSwift commented on #132
it was on swift 3 . I don't have admin rights but somehow with swiftenv (https://github.com/kylef/swiftenv) , i updated it to swift 4. probably thats where the issue is coming

[2017-09-25 11:51] orta commented on #132
Yeah, that will be it.

[2017-09-25 11:51] #132 closed

[2017-09-29 06:58] lf-araujo commented on #113
Here is what I got with swift package update:

[code]

And marathon is not running anymore in Swift 4:

[code]

[2017-09-29 07:04] lf-araujo commented on #113
... and after reinstalling marathon is all solved. The error disappears. You probably want to close the issue. Thanks for the help.

[2017-09-29 19:21] #113 closed

[2017-09-29 21:42] rmirabelli opened #134 "Proposal: continuous text output from script"
Currently Marathon prints all of the script's output at the end of the script running.

I'd love to see Marathon instead use a Pipe() along with waitForDataInBackgroundAndNotify(), rather than use a print statement at script completion. This could probably be done by creating a different printer that is passed along to shellOut.

I'm happy to work on this request myself, but would appreciate input

[2017-10-02 04:30] MasterSwift commented on #132
updated to swift 4

warning: '--chdir/-C' option is deprecated; use '--package-path' instead
   error: product dependency 'cURL' not found
💥  Failed to compile script

[2017-10-03 23:07] jarod2d commented on #134
Yes please! I was just struggling for a while to figure out why I couldn't get output in real time. In the mean time, is there any workaround without ditching Marathon?

[2017-10-04 14:48] rmirabelli commented on #134
I don't know of a workaround, but I'm going to start working on this over the next day or two, and it shouldn't be too challenging.

[2017-10-07 12:13] jazzbox opened #135 "latestMajorVersionForPackage fails if url has the form ~/Documents/somepath/Package"
Marathon currently does not support local packages with a tilde in the path:

    import HTMLParser // marathon:~/Documents/somepath/HTMLParser

I am not quite sure where the patch should  land, in Marathon itself:

    class PackageManager {
        private func latestMajorVersionForPackage(at url: URL) throws -> Int {
            ....
            let releases = try perform(Releases.versions(for:

[2017-10-08 06:03] rob-nash opened #136 "Build Folder Missing key 'Object'"
**Output**
[code]
**Contents of** /Users/robertnash/Code/Scripts/imageResize.swift
Found here: https://github.com/JohnSundell/Marathon-Examples/tree/master/ImageResize
[code]
**Further investigation**
cd marathon
swift package generate-xcodeproj
run
[code]
**Contents of** /Users/robertnash/.marathon/Scripts/Cache/-Users-robertnash-Code-Scripts-imageResize/.build/repositories/checkouts-state.json
[

[2017-10-20 20:22] JohnSundell commented on #134
I'd really love to see this happen 👍 It will require adding async/continuous output to ShellOut, here's an issue for that: https://github.com/JohnSundell/ShellOut/issues/11

[2017-11-01 13:07] flufff42 opened #137 "Mismatch between Swift version and tools version"
<details><summary>In Xcode 9.1 (9B55) it appears there is a mismatch between the Swift version (4.0.2) and the Swift package manager version (4.0.0)</summary>

[code]

</details>

This causes issues when using Marathon as the header for the generated `Package.swift` file is incorrect.

https://github.com/JohnSundell/Marathon/blob/1276bedbd4c1aa86e61427fe1f0f68d5427011c4/Sources/MarathonCore/Packag

[2017-11-02 19:54] rmirabelli commented on #137
I've submitted a pull request (#138) against this issue. It's got some junk mixed in which I'm sorry for, but I had to get a version working quickly. You're welcome to do with this as you please.

Thanks, though, for pointing out where the problem was. It accelerated the "fix" quite a bit.

(I'd personally like to maybe see a regex against the version string, because right now it feels very brittl

[2017-11-05 10:38] everlof opened #140 "Getting "Failed to open script 'helloWorld' for editing""
MacOS: 10.12.6 (16G29)
Marathon version: 1.0.1

After installing with `brew`:

[code]

It's there, and it's readable:

[code]

[2017-11-05 18:44] dabrut commented on #140
I have the same issue and I think I know what's happening.

Marathon assumes that the Swift version matches the Swift Package Manager version but in the case of Xcode 9.1, Swift version is 4.0.2 and Swift Package Manager version is [4.0.0](https://github.com/apple/swift-package-manager/blob/313f99fe251c4739b220a166a47ca3daf6b78937/Sources/Utility/Versioning.swift#L84).

So we should update `resolv

[2017-11-05 20:52] JohnSundell commented on #140
Fixed! Will submit a new version to Homebrew ASAP, in the meantime you can install the latest `master` go get around this problem 👍 Thanks for reporting it @everlof 🙏

[2017-11-05 20:52] #140 closed

[2017-11-05 20:52] JohnSundell commented on #137
Fixed! Will submit a new version to Homebrew ASAP, in the meantime you can install the latest `master` go get around this problem 👍 Thanks for reporting it @flufff42 🙏

[2017-11-05 20:52] #137 closed

[2017-11-05 21:22] darthpelo commented on #129
Hi @JohnSundell since today I have the same issue, but with `Files` and `ShellOut`:

[code]

But I'm using swift 3.1 and I tried to remove and add again both Packages.

What I missed?

Thanks!

[2017-11-05 21:34] JohnSundell commented on #129
@darthpelo the problem might be that Files & ShellOut now use Swift 4 🤔 We really need a way to pin package versions I think, especially since SPM changes so much between Swift releases. If you go into the `/Users/alessioroberto/.marathon/Scripts/Cache/-Users-alessioroberto-ciao/` folder, what does the content of `Package.resolved` look like?

[2017-11-05 21:39] dabrut opened #143 "Can't create scripts with SourceKitten as a dependency"
It seems like I can add SourceKitten as a dependency using

`marathon add https://github.com/jpsim/SourceKitten.git`

but when I try to create a script using

`marathon create helloWorld --verbose`

I get this error

[code]

This is the content of `~/.marathon/Packages` and SourceKitten is in there.

<img width="446" alt="screen shot 2017-11-05 at 4 37 55 pm" src="https://user-images.githubusercon

[2017-11-05 21:41] JohnSundell commented on #143
Thanks for opening an issue, so much easier than on Twitter 😅 Did you install Marathon through Homebrew or are you using the latest master?

[2017-11-05 21:43] dabrut commented on #143
Haha totally. I just wanted to make sure that it _should_ work before opening an issue 😄 .

I built it myself by pulling `master` and using the Swift Package Manager.
I followed the steps that are on the README.

[2017-11-05 21:57] darthpelo commented on #129
@JohnSundell there's not the file, probably because the error?
<img width="737" alt="screen shot 2017-11-05 at 22 53 57" src="https://user-images.githubusercontent.com/1339000/32419572-44113ae8-c27c-11e7-9fb7-4a35b44ce2e8.png">

[code]

[code]

For sure switching between Xcode 8.3.3 and Xcode 9.1 doesn't help. I also tried to remove all the Packages and Scripts.

[2017-11-05 22:08] JohnSundell commented on #129
It's definitely because of Swift 4. I wouldn't use Marathon using Swift 3.x anymore if possible. I won't be able to support both Swift versions and will focus on Swift 4 going forward. If you use Xcode 9.1 you should get Swift 4 though, which is interesting. What happens if you remove your `.marathon` folder after switching Xcode versions, do you get the same problem?

[2017-11-05 22:10] JohnSundell commented on #143
Alright, I can reproduce it locally here. Will look into it a bit and let you know what I find 😄

[2017-11-05 22:10] dabrut commented on #143
Oh great.
Thanks John

[2017-11-05 22:15] darthpelo commented on #129
I tried and...

[code]
[code]
I double checked and right now there are only the command line tools for Xcode 9.2 and 9.0.1, not for 9.1 🤔

[2017-11-05 22:17] JohnSundell commented on #129
Ah, update to the latest master - I just fixed that bug 😅

[2017-11-05 22:22] JohnSundell commented on #143
This is intriguing, but it seems to be a problem with SourceKitten rather than Marathon. I just created a brand new Swift Package and added SourceKitten to its `Package.swift`, and I get the exact same error:
[code]
Looking at the SourceKitten repo, it looks like they are using an interesting way of supporting both Swift 3.x and Swift 4 that I haven't seen before (using a `@swift-4` suffix on the

[2017-11-05 22:24] dabrut commented on #143
Interesting.
Thanks a lot for looking into this 👍
I'll close this issue since it's not related to `Marathon`.

[2017-11-05 22:24] #143 closed

[2017-11-05 22:26] JohnSundell commented on #143
No problems 🙂

[2017-11-06 11:54] darthpelo commented on #129
I removed the version installed with brew and follow the SPM procedure to install, but nothing change unfortunately.

[code]

But I think it's not an issue on marathon side. In _Downloads for Apple Developers_ [page](https://developer.apple.com/download/more/) the Command Line Tools for Xcode 9.1 is missed, but Xcode 9.1 introduced Swift 4.0.2 🤦‍♂️

[2017-11-06 11:56] darthpelo commented on #129
@JohnSundell my bad! I did not delete the _Users-alessioroberto-ciao_ before made the test! Now it works!

[2017-11-08 18:28] JohnSundell opened #145 "Release version 2.0.0 on Homebrew"
Version 2.0.0 has been released, but requires an update on Homebrew. I must admit I have no idea to do that - anyone wants to help out? 😄

[2017-11-09 06:37] machinefixer commented on #137
Still happened on macOS High Sierra 10.13.1 with `master` branch, same output as @flufff42 's, my Xcode version is 9.1, swift version is `Apple Swift version 4.0.2 (swiftlang-900.0.69.2 clang-900.0.38)`, swift package manager version is `Apple Swift Package Manager - Swift 4.0.0-dev (swiftpm-13502)`

[2017-11-10 09:43] choli commented on #145
Took a few minutes to check this out, as I have never done it before.

According to the [homebrew docs](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#updating-formulae) all that is needed, is a commit with the new version in the homebrew formula, and the sha256 of that file.

    ...
    url "https://github.com/JohnSundell/Marathon/archive/2.0.0.tar.gz"
    sha256 "51ca9bc5

[2017-11-12 12:25] DavidNielsen commented on #145
Provided nothing else changes such as dependencies or the build steps, you should be able to automatically open a PR for Homebrew using the bump-formula-pr command.
E.g. for 2.0:

brew bump-formula-pr --audit --url=https://github.com/JohnSundell/Marathon/archive/2.0.0.tar.gz --sha256=51ca9bc5c67781ecdccb81bfdb4d424c0271cba7c19d4b7b06fda6a23b8a7d08

To ensure that your PR only contains stuff relate

[2017-11-12 18:02] JohnSundell commented on #145
@choli @DavidNielsen Thanks a lot for helping out with this 🙏 Marathon now requires Xcode 9.0, so that will need to be changed in the Homebrew specification as far as I know. There's still an issue migrating from earlier versions of Xcode to Xcode 9.1, since the package cache still remains which causes the error you mention @choli. Will take a look at that soon 👍

[2017-11-14 09:52] rob-nash commented on #136
Pulled latest code. Run 'make'. Successful installation but one warning.

warning: unable to restore checkouts state: unable to restore state from /Users/robertnash/Code/Marathon/.build/repositories/checkouts-state.json; missingKey("object")

I will delete the build folder and install from fresh.

[2017-11-14 09:58] rob-nash commented on #136
Deleted build folder. I no longer get this issue.

[2017-11-14 09:58] #136 closed

[2017-11-14 10:34] rob-nash opened #146 "Requires a minimum Swift tools version of 4.0.2"
I am using Marathon commit Nov 5th 6e017205a49a8575c185dee55c8c7f70a927dbe5

I have Swift 4.0.2 installed

[code]

Error running install of testdrive.git

[code]

[2017-11-17 10:53] rob-nash opened #147 "Verbose prints the underlying error"
Errors are currently being masked.

[code]

As you're no doubt aware: The above code facilitates error erasure like so.

[code]

The message for this error will state `"Failed to create script"` but the underlying reason for the failure, is lost.

[code]

With [Pull 40](https://github.com/JohnSundell/Files/pull/40) we may be able to bubble up the underlying error at key areas like this that show o

[2017-11-17 10:59] rob-nash commented on #147
At the moment it looks like verbose is used exclusively for shell specific tasks.

[code]

[2017-11-20 22:11] FranciscoAmado commented on #146
Heyo! I have the same problem but with swift 4.0.3, while creating a script.
[code]
[code]

[2017-11-24 08:28] ilovezfs commented on #145
The test block fails on a sandbox violation. So you'll want to fix that before opening the pull request.
[code]
It definitely has write access to that directory so the EPERM is coming from somewhere else contrary to the message.

Without the sandbox,
[code]
This is a regression from 1.0.1, which was fine.

[2017-11-26 17:41] #128 closed

[2017-11-27 05:55] ilovezfs commented on #145
This is still a problem in 2.0.1

[2017-11-27 06:20] ilovezfs commented on #145
Interesting. This affects 1.0.1 as well. I'm guessing the regression is specific to Xcode 9 because it didn't affect the original formula, which shipped before the Xcode 9 release.

[2017-11-28 11:59] jazzbox commented on #146
I had the same problem which disappeared after deleting the ~/.marathon/ folder!

[2017-11-28 19:46] melbic commented on #146
This is a known problem, please check out https://github.com/JohnSundell/Marathon/issues/137 for a solution.

[2017-12-05 00:13] skumar171 commented on #137
I'm also facing the same issue on macOS High Sierra with marathon-swift version 1.0.1.

[2017-12-05 00:14] sandeee1928 commented on #137
I'm also facing the same issue on macOS High Sierra with marathon-swift version 1.0.1.

[2017-12-06 13:27] Jelle-elaut opened #151 "No write permissions on Packages folder of Marathon"
Hello!
I tried installing the Xcode theme found on https://github.com/johnsundell/xcodetheme
Whenever I run the script, I get the following error:

`💥  Failed to update packages
👉  Make sure you have write permissions to the folder '/Users/jelleelaut/.marathon/Packages/'`

Even when I delete the .marathon folder, it gets recreated and I get the same error.
Thanks for the help!

[2017-12-09 17:24] ashfurrow opened #152 "Ability to run master without tagged releases"
Creating a new Marathon package currently requires at least one tagged release:

[code]

It'd be cool if this wasn't a requirement. Thanks!

[2017-12-09 17:41] JohnSundell commented on #152
Hey @ashfurrow 👋

I agree, it would be really cool 👍 But as far as I know this is not supported by the Swift Package Manager, for remote packages it requires a tagged version. And since Marathon is essentially a wrapper around SPM it inherits this requirement.

One *possible* way of solving it could be that Marathon simply clones `master` of a given repo, and then makes a tag locally and makes the

[2017-12-09 18:32] kaishin commented on #151
I have the same issue on 10.13.2.

[2017-12-09 18:39] kaishin commented on #151
Try running the install command with the `--verbose` flag.

This doesn't seem to be related to permissions in my case, but rather to Swift version mismatch. That error message is misleading.

[2017-12-10 14:43] orta commented on #152
Not worth it IMO, but it's a bit sucky downstream.

I wonder if the `// marathon: https://github.com/danger/danger.git` syntax could be expanded to include branches? then you can use the branch master and pass that to SPM

[2017-12-26 20:55] UncleRic opened #157 "Failed to compile script"
I followed the example thusly:

$:swift --version
Apple Swift version 4.0.3 (swiftlang-900.0.74.1 clang-900.0.39.2)
Target: x86_64-apple-macosx10.9

$:marathon create helloWorld "import Foundation; print(\"Hello world\")"
💥  Failed to open script 'helloWorld' for editing
👉  Make sure that it exists and that its file is readable

$:ls helloWorld.*
helloWorld.swift

$: marathon run helloWorld
💥  Fai

[2017-12-29 14:51] gunesmert commented on #157
Same here, it is not possible to compile example script. @JohnSundell

[2018-01-03 20:03] proxpero commented on #157
I encountered this issue as well. The fix for me was to install using SPM not homebrew. I think the homebrew version is stale. (I also deleted my .marathon folder—but I don't know if that's relevant)

[2018-01-11 12:08] bduisenov commented on #157
+1

[2018-01-15 17:31] narner commented on #157
+1, also experiencing the same issue after using brew

[2018-01-15 22:23] JohnSundell commented on #157
Hey guys, sorry, a bit late to the party here 😅 It's correct that the latest version of Marathon is not yet available on Homebrew (see https://github.com/JohnSundell/Marathon/issues/145 for details). I hope to make it available there soon, but in the meantime you can use `master` (by installing through SPM or Mint) which contains a fix for Xcode 9.1 and later 👍

[2018-02-06 12:23] viktor-malieichyk commented on #137
Still have the same issue on macos 10.13.3
Installed marathon with swift package manager

[2018-02-08 10:55] PushpakN commented on #137
Still have same issue.

[2018-02-10 02:37] oktapodi commented on #137
I had the same issue, fixed it by uninstalling the brew package and installing the latest '2.0.2' directly from the repo.

[2018-02-10 16:29] milseman commented on #113
FWIW, I just hit this updating to the 9.3 beta. The solution was to `swift package clean`, rebuild, and reinstall (I also blew away `~/.marathon`)

[2018-02-18 16:32] ffittschen commented on #137
Had the same issue, even after reinstalling Marathon 2.0.2 with mint. Deleting the `~/.marathon` folder resolved the issue for me

[2018-03-04 11:17] vojtabohm commented on #146
Anyone resolved it yet? Nothing works for me...

[2018-03-08 03:22] bitwit opened #158 "[Feature Proposal]: Expose Package Manager's internal funcs as public"
First of all I just want to say thanks for the awesome project and, in particular, exposing the ScriptManager and PackageManager! I'm working on a project that is really benefitting from these being exposed.

I'm hoping to make a first contribution to this project by changing PackageManager's internal funcs to public because I'm interested in managing package dependencies in a way that would requi

[2018-03-09 13:55] #158 closed

[2018-03-15 16:09] mkkroliks commented on #157
I've installed marathon via brew but after reading comments about issue I uninstalled it and used make/SPM but still encounter the same problem.

`marathon create helloWorld "import Foundation; print(\"Hello world\")"
🐣  Created script at helloWorld.swift
💥  Failed to open script 'helloWorld' for editing
👉  Make sure that it exists and that its file is readable`

Any suggestions? I could not find

[2018-03-15 16:33] proxpero commented on #157
Files with a dot in front are hidden. You can google "show hidden files mac" to find out how to reveal them in Finder. My `.marathon` file is in my home folder. So from the Finder.app menu: Go -> Go to Folder…  and enter `~/.marathon`. (`~` means your home folder)

[2018-03-15 16:39] mkkroliks commented on #157
@proxpero Cool thanks a lot. I was looking for this folder in brew directory and did not know it can appear in home directory. It solved my issue.

[2018-03-23 16:07] breferrari commented on #137
I'm having the same issue here... Deleting `~/.marathon` didn't solve the problem.

[2018-03-29 09:00] JetForMe commented on #146
I also have this problem with Xcode 9.2, swift 4.0.3, tools 4.0.0-dev.

[2018-04-02 17:55] josefdolezal commented on #145
Hey @JohnSundell, is anyone working on updating the brew spec? If not, I can open the PR.

[2018-04-03 00:10] kballard commented on #151
I'm getting this too. It's very user-unfriendly. In fact, attempting to install a package that uses an old version of Swift breaks Marathon entirely such that a simple `marathon create foo.swift` fails with this same incorrect error (as it tries to declare a dependency on the broken package, which SPM says it can't find).

[2018-04-03 08:51] mbuchetics opened #162 "Does not work with Xcode 9.3 / Swift 4.1"
The current version 2.0.2 does not run after installing Xcode 9.3:

[code]

Changing the command line tools back to Xcode 9.2 (Swift 4.0.3) does not help, the above error is the same.

[2018-04-03 08:58] JohnSundell commented on #162
It's being fixed here: https://github.com/JohnSundell/Marathon/pull/161 🙂

[2018-04-03 09:10] mbuchetics commented on #162
That was quick, thank you 👍

[2018-04-03 09:10] #162 closed

[2018-04-05 10:57] fassko opened #163 "Install command with Mint"
Right now using Mint install command is

    $ mint run JohnSundell/Marathon

Shouldn't it be **install** instead of **run**?

    $ mint install JohnSundell/Marathon

[2018-04-05 20:24] felix91gr opened #164 "Needs a tweak to compile on Linux"
Hi! I'm using Swift 4.1 in Linux, and if you clone and try to compile Marathon as-is, it fails. But the fix was simple:

* In [this line](https://github.com/JohnSundell/Marathon/blob/1c343bfafbb106913d6a6c1bfa751a0be676791b/Package.swift#L18) you change the version of Files to `2.2.0`.

After that, it compiles without a problem and runs the test suite without crashing. It fails in 36 tests unexpec

[2018-04-05 20:25] felix91gr commented on #164
[code]

[2018-04-05 20:29] felix91gr commented on #164
It's probably missing some permissions, from the looks of it. How do I give it permissions to those folders without giving it `sudo` privileges? :thinking:

[2018-04-05 20:36] JohnSundell commented on #163
@yonaskolb Which one is the correct one? 🙂 (IIRC `run` does `install` if needed)

[2018-04-05 21:13] yonaskolb commented on #163
Either is fine. As @JohnSundell says`run` will also install.
Now that Mint supports global installs I’ve updated the documentation to give `install` examples to match the other installation methods

[2018-04-06 09:07] MillerApps opened #165 "Write premissions"
![screen shot 2018-04-06 at 5 03 46 am](https://user-images.githubusercontent.com/3836934/38412745-0783defc-3958-11e8-8373-58b18ea9cd4e.png)
Ended up installing manually😭

Also posted this issue [here](https://github.com/JohnSundell/XcodeTheme/issues/5) as well.

[2018-04-06 10:13] fassko commented on #163
I think install does make sense more as it actually installs. Thanks!

[2018-04-06 10:13] #163 closed

[2018-04-07 01:07] IgorMuzyka commented on #165
Same problem, manuall installation does not help

[2018-04-08 12:27] lf-araujo commented on #157
Can confirm the similar (same?) bug on linux. Marathon is not usable in my installation at the moment, unfortunately.

[code]

Marathon was installed using clone and swift build.

If I try to run the Files example from the Readme.md with the --verbose flag I get:

[code]

By the looks it may be a distinct problem, related to latest Files dependency.

[2018-04-09 09:05] rob-nash commented on #165
are you using

[code]

if you append

[code]

do you get

[code]

[2018-04-09 09:06] rob-nash commented on #165
If so, same issue as

[#151](https://github.com/JohnSundell/Marathon/issues/151)

[2018-04-09 11:30] amadeu01 commented on #151
I have the same issue on 10.13.4.

[2018-04-09 16:33] MillerApps commented on #165
@rob-nash Yes, its the same issue.

[2018-04-13 15:15] rob-nash opened #166 "README update: Example code"
README suggests the following as example use cases for Marathon.

[code]

These fail unless you update Swift to 4.1

[code]

For completion here is the output.

[code]

[code]

[2018-04-13 15:16] rob-nash commented on #166
Just suggesting maybe appending 'requires Swift 4.1' in the README, somewhere near this example code.

[2018-04-13 15:28] rob-nash opened #167 "README update: Run vs Install"
Do you agree that the Marathon README could benefit from the following adjustment to the Usage section?

1. A tool for executing scripts (from multiple sources)
2. A tool for making binaries [from scripts]
3. A tool for installing binaries

Just to make it clear that Marathon can be used for the above 3 things.

I appreciate that you might be able to infer this from commands such as 'run' and 'ins

[2018-04-14 08:30] rob-nash opened #168 "marathon --version or marathon -v"
Feature request: Would be great to have a command that helps me reveal the currently installed version.

WOOOOOP

[2018-04-14 14:04] rob-nash commented on #112
I'm looking forward to this to! So I made ShellOut asynchronous [here](https://github.com/JohnSundell/ShellOut/pull/34)

[2018-04-19 06:40] tweetjay commented on #151
Same for me

[2018-04-21 08:52] #166 closed

[2018-04-21 08:53] JohnSundell commented on #164
Fixed by @sunshinejr as part of #161 🎉

[2018-04-21 08:53] #164 closed

[2018-04-21 08:55] JohnSundell commented on #129
We now support only Swift 4.1 and Xcode 9.3+, and everything seems to be working 🎉

[2018-04-21 08:55] #129 closed

[2018-04-21 11:51] Sega-Zero opened #172 "--enable-prefetching option is unavailable in swift 4.1"
Having
[code]

while trying to execute danger-swift linting on XCode 9.3/swift 4.1

It appears that this option is no longer available.

[2018-04-21 12:49] Sega-Zero commented on #172
duplicate of #151

[2018-04-21 12:49] #172 closed

[2018-04-21 12:51] Sega-Zero commented on #151
@JohnSundell any news on this? [Cannot use](https://github.com/danger/danger-swift/issues/63) danger-swift because of it

[2018-04-21 13:37] sunshinejr commented on #151
@Sega-Zero the problem with `--enable-prefetching` option is already fixed on version 2.1.0, released 5 hours ago. Did you try this one?

[2018-04-21 13:39] Sega-Zero commented on #151
yep, it's still there. should I install danger-swift other way than brew to use a newer version of Marathon?

[2018-04-21 13:51] sunshinejr commented on #151
Seems like John moved the prefered installation method from `Homebrew` to `Make` as the releases are delayed. Probably not there yet on brew, [try using `make` instead](https://github.com/JohnSundell/Marathon#on-macos) and let us know!

[2018-04-21 13:58] Sega-Zero commented on #151
Nope. It's still there:
[code]

Is there a way to tell danger-swift to use Marathon from /usr/local/bin?

[2018-04-21 14:27] sunshinejr commented on #151
Oh, this seems like a Danger issue, not a Marathon one. We need a new release on brew. Not sure if it's possible to change the bin dependency, but you should be able to build `danger-swift` by cloning the repo and using `make install`. I suggest moving this convo to https://github.com/danger/danger-swift/issues/63 instead, so we won't spam this issue here 😉

[2018-04-21 21:37] orta commented on #168
I don't think the version number is stored in marathon's source anywhere TBH, so that's step one

[2018-04-22 02:30] kballard commented on #151
The original issue can't only happen on high sierra, because it happened to me on sierra.

[2018-04-24 19:39] mkkroliks commented on #165
Updating marathon to 3.0.0 fixed the issue.

[2018-04-24 20:04] #165 closed

[2018-05-10 08:50] zdenektopic opened #176 "Build into executable"
It would be nice to have command that would build the script into stand-alone executable.

[2018-05-15 15:59] 0x7fffffff commented on #151
Can confirm the home brew issue. I had this problem when I installed with home-brew, but not after uninstalling and reinstalling with make.

[2018-05-15 20:02] kballard commented on #151
I had this problem when I installed using Mint.

[2018-05-16 20:18] JohnSundell commented on #151
Would be really awesome if one of you who are experiencing this issue could spend some time debugging it and maybe come up with a solution? It doesn't happen to me on the latest `master`, so would be great if someone who can reproduce this on their machine could dig into it so we can find a fix 🙂 I'm happy to answer any questions about the implementation if you need any help 👍

[2018-05-16 20:20] kballard commented on #151
@JohnSundell When I was hitting this problem, the trigger was attempting to install a package that uses an old version of Swift (and therefore doesn't compile with the current Swift). Have you tried doing something like that?

[2018-05-16 20:31] JohnSundell commented on #151
@kballard Ah nice, I'm able to reproduce it now! Still don't know if and when I'll have time to work on a fix, but since we now have concrete reproduction steps it should be something anyone could jump in and debug 👍

[2018-05-16 20:35] JohnSundell commented on #176
Hi @zdenektopic 👋 You can use the `install` command for that! See the `README` or `marathon help` for more details 👍

[2018-05-16 20:35] #176 closed

[2018-05-17 01:18] mc7h opened #177 "'make uninstall' doesn't work"
INSTALL_PATH is not defined.

[2018-05-25 19:01] tranlily commented on #151
I came up with the solution.

If you are following the tutorial from: https://github.com/JohnSundell/XcodeTheme

You're suggesting to install Marathon using:
`$ brew install marathon-swift`

It's because it's not up to date. Given that you're using Xcode, I'm assuming you're on macOS. I followed these steps instead from: https://github.com/JohnSundell/Marathon

**On macOS
Using Make (recommended):

[2018-06-14 19:20] jordanekay opened #178 "Support Swift 4.2"
I would love to use Marathon run scripts written in Swift 4.2. Thanks!

[2018-06-27 05:30] NicholasTD07 opened #179 "`marathon add RecativeSwift` fails because there's no official v4 release yet"
Command:
`marathon add https://github.com/ReactiveCocoa/ReactiveSwift.git`

Output:
[code]

Problem:

1. `marathon` fails to update the package
2. `marathon` gives the irrelevant error message `Make sure you have write permissions to the folder`

Possible cause:

The latest release version of `RecativeSwift` is `4.0.0-rc.2`.

[2018-06-27 05:33] NicholasTD07 commented on #179
Thanks for the work! I love this idea of an easy command line version of a playground.

[2018-07-03 10:54] haemi commented on #151
@tranlily so there is no way with `brew` ? That's a pitty as I love the updating system of brew... When installing via `make` I always have to check for updates myself, right?

[2018-07-13 10:23] JohnSundell commented on #178
Me too :) https://github.com/JohnSundell/Marathon/pull/181

[2018-07-13 16:22] JohnSundell commented on #151
I'd love for Marathon to fully support Homebrew and be updated regularly, but I personally don't use it and find dealing with Homebrew very time consuming, so changes are low I'll be motivated & able to find the time to keep it up to date. The best would be to set up some form of automatic pipeline so that new releases are automatically published on Homebrew. If someone wants to contribute somethi

[2018-07-23 08:12] carlogilmar commented on #151
Today I tried to install with brew, but I couldn't... I had to install via make

[2018-08-01 07:26] rob-nash opened #183 "Script Manager Allow Remote"
Passing the following url

[code]

into the create task results in

[code]

[code]

[2018-08-06 07:11] CalQL8ed-K-OS commented on #178
I think lack of Swift 4.2 support is the reason I'm getting this output, ¿thoughts @JohnSundell?
[code]

[2018-08-06 10:30] peymankh commented on #82
Hi @JohnSundell,

Do you have any updates on this issue?

[2018-08-11 21:55] JohnSundell commented on #178
@CalQL8ed-K-OS `compactMap` was introduced in Swift 4.1. Are you sure you're running 4.1?

[2018-08-11 21:56] JohnSundell commented on #178
Fixed in #181

[2018-08-11 21:56] #178 closed

[2018-08-15 09:03] julianyuyu commented on #146
run below cmd to change the tools-version for current package:
 **_swift package tools-version --set-current_**

[2018-08-15 20:17] JetForMe commented on #146
When I try that I get an error:

[code]

[2018-08-19 13:13] rob-nash commented on #157
You will need to do exactly what it says in the README

[code]
Your script will build fine if you escape the quote marks.

[2018-08-19 13:39] lf-araujo commented on #157
This issue is no more, someone should close it.

[2018-08-19 19:54] rob-nash commented on #78
Hi @JohnSundell

It looks like this is an issue with a default paramter. The following called `removePackage(named:)` in a for loop, so the default is true.

[code]

[code]

[2018-08-19 20:48] rob-nash commented on #90
[code]

I think users of Marathon would understand why script files are named `main.swift`. At the moment, the parent folder is the name of the script, so you could just keep this convention going forward as a means of storing / identifying the script.

<img width="120" alt="screen shot 2018-08-19 at 21 30 30" src="https://user-images.githubusercontent.com/14126999/44312921-94976700-a3f7-11e8-9530

[2018-08-19 23:04] #147 closed

[2018-08-19 23:05] #167 closed

[2018-08-19 23:09] rob-nash commented on #135
Hi @jazzbox this looks great.

I think it might need to be done with the [Files API](https://github.com/JohnSundell/Files) though, which is currently a dependency for marathon.

[2018-08-19 23:33] rob-nash commented on #110
Hi @sahara108

Could you try this again?

The code looks like it might fall of the end in certain places and leave you hanging.

The while loop may go forever ?

You may execute it on a system that isn't 10.13 ?

Try to handle all of these pitfalls and see if any of these reasons are to blame first.

[2018-08-20 06:29] #157 closed

[2018-09-09 10:53] maximkhatskevich opened #185 ""illegal hardware instruction" error message when try to edit a script"
It happens when I have a 'Marathonfile' in the root folder and that file contains references to a local folder or another script.

For example, if I have `Setup.swift` script and no `Marathonfile` at all, when I call

[code]

it opens Xcode as expected.

If I add a URL into `Marathonfile` like this:

[code]

and then call

[code]

it opens Xcode as expected, no problem.

BUT if I add references to

[2018-09-11 14:57] johndpope opened #186 "Marathon + CLI - any ideas?"
is it possible that marathon can do some fancy work to streamline swift packages for use with terminal apps ?
I'm wanting to plugin EasyImagy with a swift CLI and tap into third party swift packages. Doesn't look like there's an elegant solution unless I reduce my app to a script.
<img width="1426" alt="screen shot 2018-09-11 at 10 54 14 am" src="https://user-images.githubusercontent.com/289994/45

[2018-09-11 14:58] johndpope commented on #186
related https://github.com/koher/EasyImagy/issues/34

[2018-09-17 14:31] peymankh opened #187 "Swift 4.2 PM Support"
Hey @JohnSundell,

Noticed that marathon does not work when using dependencies and the Swift Package Manager. Seems this has already been fixed and merged in. Are you planning to make a new version for this?

[2018-09-18 14:50] lf-araujo commented on #135
@jazzbox , does it actually support local libraries without the tilde? In my tests it does not seem to work and I couldn't find documentation about it.

[2018-09-18 15:40] jazzbox commented on #135
@lf-araujo yes, it works. You have to specify the full path like here

`import HTMLParser // marathon:/Users/box/Documents/dev/myprojects/Marathon/HTMLParser
`

And you should test that your library can be imported in a small demo SwiftPM project. If you have made a mistake (for example you forgot to version tag your library) Marathon gives total misleading and unhelpful error messages.

That and

[2018-09-18 16:00] rob-nash commented on #135
@jazzbox not worth the effort? a little respect goes a long way. Not everyone deserves respect but I think John has earned it don’t you think?

Marathon might not be as reliable as main stream services but it’s free of charge.

you was using marathon in your release/production workflow? I don’t recommend using relatively unpopular and experimental open source ideas like this in production. Just us

[2018-09-18 16:26] lf-araujo commented on #135
I mean, marathon makes small scripts very easy to test and run, that is what I use it for. Perhaps you are using it to a too large of a project, where SPM may perform better.

@rob-nash In Linux the directory address is not working is it perhaps related to the fact that marathon tries to use -C, which is now deprecated?

`[0;3mwarning: '--chdir/-C' option is deprecated; use '--package-path' inste

[2018-09-18 16:50] jazzbox commented on #135
@rob-nash Did we had a conversation? And who are you that you can tell me how I have to structure my work?

And wow "experimental idea", that is really disrespectful. Maybe you should not implying something that you are doing yourself!

[2018-09-18 17:21] kukushi opened #188 "Add package which name contains dot will break most things"
Thanks for creating such a great tool, it's really nice.

I try to add package https://github.com/yaslab/CSV.swift to my script via the `marathon add`. The `add` result show success, while I can't edit the script anymore. It keeps info me that "Failed to open script 'Balance' for editing". Then, I tried to remove the `CSV.swift`, although the log tells me the removal is successful, the package is

[2018-09-18 21:32] rob-nash commented on #135
@jazzbox you should do as I say because your wife told me that I have a bigger penis than you.

[2018-09-19 07:08] rob-nash commented on #135
Hi @lf-araujo not entirely sure about linux 🙄 sorry

@jazzbox relax. you have done some good work here. if you want to use marathon in a production environment, then go ahead.

[2018-09-19 12:01] rob-nash commented on #135
Get off your high horse @orta

[2018-09-20 20:29] lf-araujo opened #189 "`Marathon run` causes the update of all cached Packages"
Hi all,

Whenever I start a new project I have manually remove cached libraries, because as soon as I run `marathon run script` it causes an attempt to update all installed Packages. This then results in two problems (I am running marathon on linux):

1. Marathon fails if the internet is not good enough, as it pings remote github addresses;
2. If any of the old packages have been changed and for s

[2018-10-08 22:54] mxcl commented on #151
We submitted an update for marathon to brew, but in fact this exact error is occurring during the brew CI process:

https://github.com/Homebrew/homebrew-core/pull/32338

[2018-11-07 10:08] eivindml opened #190 "Marathon script uses all available memory"
Hi,

I'm testing out Swift scripting using Marathon, by trying to create a script to build and launch apps.

But it the scripts takes up all available memory, until my computer turns unresponsive. Here is the script:

[code]

If I run each shell command seperately in Terminal, they execute quite quickly, without high CPU/memory usage. But through Marathon, using ShellOut, the memory usage just inc

[2018-11-07 14:37] eivindml commented on #190
Thank you. That was the issue.

The example code you posted above didn't quit work. It generated some weird build files. But it works when I put it like this:

[code]

Maybe it could be a feature request for `ShellOut` to make it not build a string of the result.

The other weird behaviour is that it needs to execute all three shellOut statements, before the print statemenst are displayed in termi

[2018-11-07 16:21] vknabel commented on #190
Glad to hear the memory issue is fixed. You probably need to manually flush stdout.
The API might have changed, but here is a workaround https://github.com/vapor/vapor/issues/796#issuecomment-272607499

For better readability you could create a helper which automatically flushes the contents.

[2018-11-08 02:11] bitwit opened #191 "Marathon only works with dependencies named the same as the Package"
I have a swift package I'm trying to import as an inline dependency. However, it is one of many within the same `Package.swift` and is not named the same as the Package.

When Marathon runs, it ends up pulling in the library by the name of the Package rather than the specific library name listed in the import.

i.e.
`import SlurpXCTools // marathon: https://github.com/bitwit/Slurp.git`
ends up add

[2018-11-08 03:14] bitwit commented on #191
After more investigation, I'm sure this is not currently possible because the packages are fetched using the git URL alone.

I'm working on a solution to allow multiple dependencies from one Package.swift here: https://github.com/JohnSundell/Marathon/compare/master...bitwit:multi-dependency-package?expand=1

I think I'm on the right track, but there's still some clean up to do. It also seems that

[2018-11-09 03:06] bitwit commented on #189
Okay, I can confirm the problem is consistent with mine and provide some more info now. It's all about what's going on in the cache. I'll try to keep it short and to the point:

- Marathon caches a bunch of data inside of `~/.marathon`.
- Marathon creates a "master" at `~/.marathon/Packages/Generated/Package.swift` file that it uses as the template for generating the `Package.swift` file of each r

[2018-11-27 10:49] JakubMazur opened #194 "Command Line user input"
Does Marathon support command line user input?

Whenever I'm trying something like [readLine()](https://developer.apple.com/documentation/swift/1641199-readline) or `FileHandle.standardInput` script seems to freeze. In `--verbose` mode I only see starting execution but it never gets to it.

[2018-11-27 21:40] orta commented on #194
It's possible the the STDIN from the marathon host isn't being passed into the script

[2018-12-05 18:48] JakubMazur opened #195 "Execution time on VM, Logging level"
I'm using bitrise.io as a build server and they create new VM every time build is happening. I need to execute marathon script every time before build. The issue I'm having is execution time taking a lot of time, so I made as simple as possible shell script:

[code]
And it's taking over 3 minutes to run there.
I'm trying to debug this with `--verbose` with an assistance of bitrise support team mem

[2018-12-14 18:48] bsarrazin opened #196 "Unable to use when installing with Mint"
[code]

[2018-12-14 23:49] yonaskolb commented on #196
@bsarrazin `mint run` doesn’t install a globally linked version. If you want that use `mint install` 👍

[2018-12-15 12:15] #196 closed

[2019-01-03 13:47] bsarrazin commented on #196
@yonaskolb thank you for this!

[2019-01-28 01:39] WillBishop opened #198 "URLSession dataTask does not get called"
Hey all,

`URLSession.shared.dataTask()` does not execute, even with `.resume()`.

**The Basic Script**:

[code]

**Expected Output**:
Should print first
Should print second
Should print third

**Actual Output**:
Should print first
Should print second

Upon inspecting network requests in Charles, the request is never made.

[2019-01-28 01:56] WillBishop commented on #198
Solved!

I had to add `var sema = DispatchSemaphore(value: 0)` to the start of the script (under the imports), and `sema.wait()` to the end of my script. Then in the closure of my network request I call `sema.signal()` when it should be finishing.

[2019-01-28 01:56] #198 closed

[2019-03-07 06:10] jsorge commented on #151
I created a new package and pushed a revision to it a couple fo days ago. It's using Swift 4.2 as the package version (the package is here: https://github.com/jsorge/maverick-models.git). When I try to add it to Marathon I get the same messages being reported here:
[code]
If I remove the package all goes back to normal and I can edit scripts again.

[2019-03-11 16:42] clayellis commented on #77
@JohnSundell would you like to close this issue out given the comment about limiting scope on #88?

[2019-03-11 20:28] JohnSundell commented on #77
Yes, great call @clayellis 👍 Thanks!

[2019-03-11 20:28] #77 closed

[2019-03-11 20:28] #109 closed

[2019-03-28 15:36] clindsay opened #203 "Unable to install using Xcode 10.2 and macOS 10.14.4"
I just updated my machine to the latest macOS and Xcode releases, and Marathon seemed to no longer work:

[code]

I uninstalled and attempted to reinstall, and am getting the following error when running `swift build -c release -Xswiftc -static-stdlib':

[code]

It goes on like that for [a while](https://github.com/JohnSundell/Marathon/files/3018799/output.txt). I also tried forcing the Swift vers

[2019-04-01 00:14] rickbdotcom commented on #203
I had to build from the "remove-static-linking" branch to get working on 10.2. Looks like there's an outstanding PR for this that will get merged in at some point.

[2019-04-01 12:21] clindsay commented on #203
Thanks! Didn't notice that work in progress. Here's a link to that PR for anyone else that ends up here: https://github.com/JohnSundell/Marathon/pull/202

[2019-04-01 12:22] clindsay commented on #203
FWIW, that seems to have fixed the issues _installing_ marathon, but I'm still getting the `💥  Failed to compile script` error when I try to actually use it.

[2019-04-10 16:11] clindsay commented on #203
To resolve the "Failed to compile script error", I had to delete ~/.marathon/Packages/Generated/Package.swift. I had a version of this file with the line `swiftLanguageVersions: [5]` in it, which is now invalid. It needed to be updated to `swiftLanguageVersions: [.version("5")]`. I'm guessing this was a recent change, and my first run of marathon with Swift 5 was still using the old version of Mar

[2019-04-12 18:59] JohnSundell commented on #203
This should fix all issues: https://github.com/JohnSundell/Marathon/pull/202
Thanks @clindsay for your help on this 🙌

[2019-04-12 19:12] #203 closed

[2019-05-11 22:03] dyna-dot commented on #59
I think you should have a good look once again

[2019-05-11 22:03] dyna-dot commented on #30
What do we call them?

[2019-05-14 13:00] duemunk commented on #151
I'm still seeing this error message when running in a folder a folder with a & character (ampersand).

[code]

This outputs
[code]

Understandably this doesn't fly: `/bin/bash: ing/: No such file or directory`. So it seems that Marathon doesn't escape odd characters properly.

[2019-07-10 20:25] taimila opened #205 "Marathon install fails to find module on Linux"
**Platform**
Raspberry PI running `Raspbian GNU/Linux 10 (buster)`

**Issue**
`sudo marathon install my-script` fails with error output:
[code]

**Steps to reproduce**
- Install marathon as described (for Linux) in readme
- Install Shellout module with `marathon add <url-to-ShellOut>`
- Create script that imports ShellOut
- Try to install that script

**Notes**
- Interestingly `marathon run my-scr

[2019-07-11 09:27] BowdusBrown commented on #195
It may not be necessary to link the standard library anymore. I suppose the README should be updated.

https://github.com/JohnSundell/Marathon/pull/202/files

[2019-07-11 09:28] BowdusBrown commented on #195
Just realised this issue is several months old...sorry

[2019-07-11 18:16] BowdusBrown commented on #191
Supporting ideas like this might push Marathon towards becoming a dependency manager like [Carthage](https://github.com/Carthage/Carthage). If these kinds of features do become necessary then I would be more inclined to suggest Marathon become dependent on Carthage.

[2019-07-11 19:42] taimila commented on #205
Okay... I'm not sure what happened, but it started to work today. 🙄

[2019-07-12 22:25] bitwit commented on #191
Yeah, it takes a lot to fix the issue. The whole dependency management
aspect of Marathon is kind of thin and falls apart if you have a lot of
dependencies or other more complex dependencies such as the subject of this
issue. It also gets funky if your dependencies have shared subdependencies
at different version levels 😱
I spent a lot of time playing around in the PR I associated with this issue

[2019-07-14 21:29] MindTooth commented on #145
Still an issue with 3.2.0.

[2019-07-15 05:41] taimila commented on #205
Looks like my issue was same as #151

[2019-07-22 20:47] LambdaDigamma opened #206 "Running Marathon on macOS Catalina does not work"
**Platform**
macOS Catalina Version 10.15 Beta (19A512f)

**Issue**
I freshly installed Marathon the recommended way on macOS Catalina Beta Version.
It seems to install without any error, but when trying to run Marathon via `marathon` I get the following error:
`This copy of libswiftCore.dylib requires an OS version prior to 10.14.4.`
`[1]    13259 abort      marathon run`

I didn't dig into sourc

[2019-07-22 21:01] LambdaDigamma commented on #206
I resolved this error by switching Command Line Tools to use Xcode 11 Beta:
`sudo xcode-select --switch /Applications/Xcode-beta.app/Contents/Developer`

Please excuse the inconvenience!

[2019-07-25 08:35] johndpope commented on #206
I'm seeing  this error - although at some stage it was working fine.

cd "/Users/johndpope/.marathon/Scripts/Cache/-Users-johndpope-Downloads-frontpage-ios-app-FrontPage-src-Sync/" && readlink OriginalFile
   /Users/johndpope/Downloads/frontpage-ios-app/FrontPage/src/Sync.swift
   $ cd "/Users/johndpope/Downloads/frontpage-ios-app/FrontPage/src/" && /usr/bin/env xcrun --sdk macosx swift package --

[2019-07-25 11:16] johndpope commented on #203
I'm seeing this on catalina + xcode 10.2 / 10.1 / 11 beta

https://github.com/JohnSundell/Marathon/issues/206
xcode 11 / swift 5.1 - if I run
swift build -c release -Xswiftc -static-stdlib > results.txt
https://gist.github.com/johndpope/7d01eb3d0b83a3fffdb7045d5fc40768
I'm seeing Undefined symbols for architecture x86_64
I tried bumping .swift-version to 5.1 - no joy.
I'll try digging around to de

[2019-07-25 12:45] johndpope commented on #82
this ticket needs some more help to push things along - maybe we need a rethink.

I have troubles with catalina + swift 5.1 / majove  5.0  https://github.com/JohnSundell/Marathon/issues/206
- some git repos I want to import are already in front to 5.1 - so I can't point my majove marathon 5.0 to an older git commit  version of apollo say 5.0

Understandably (with so many things John is up to) this

[2019-07-25 13:03] LambdaDigamma commented on #206
You are right. After successful installation I wasn't successful in building and compiling a Marathon Script on Catalina either.

[2019-07-26 14:17] JohnSundell opened #208 "Heads-up: Deprecation"
Hi everyone,

When I introduced Marathon almost 2,5 years ago, my goal was to provide a simple abstraction on top of the Swift Package Manager in order to make Swift scripting simpler. However, as both the Swift Package Manager has evolved to make scripting much easier (thanks to features like `swift run`), and that it's now being integrated directly into Xcode - I feel like Marathon has played ou

[2019-07-26 14:37] orta commented on #208
Good good, SPM is getting solid enough to replace a bunch of community infra 👍

[2019-07-29 05:57] johndpope commented on #208
The problem this project solves for me centers around running swift from command line

Eg. I want to use alamofire from terminal
https://gist.github.com/johndpope/c859925603e8f176318c1d28a1dca6fc

It isn't apparaent to me how this is possible just using swift package manager to spit out a terminal app.
https://stackoverflow.com/questions/630911/using-frameworks-in-a-command-line-tool/52249057#5224

[2019-07-29 08:39] JohnSundell commented on #208
@johndpope You don't need Marathon to use Alamofire from the command line. There are instructions how to use it with SwiftPM in [Alamofire's README](https://github.com/Alamofire/Alamofire#swift-package-manager), and there's extensive documentation on SwiftPM and how to use it to build a command line tool [here](https://github.com/apple/swift-package-manager/tree/master/Documentation).

Basically,

[2019-07-29 11:44] johndpope commented on #208
Doing some digging

swift package init --type=executable
https://www.raywenderlich.com/1993018-an-introduction-to-swift-package-manager

I think this will accommodate my immediate needs.
But I still like that marathon can overarch swift environments across swift scripts.
There’s something lost when for every swift adhoc shell  script you need to have an associated swift project package. I’m a big

[2019-08-01 21:34] DrBeta commented on #208
@JohnSundell What about all of your other projects that rely on Marathon for installation?

[2019-08-02 14:15] JohnSundell commented on #208
@DrBeta Those installers will now be adapted to be executed using SwiftPM instead.

[2019-08-24 14:38] jstewuk commented on #206
Installed without an issue but unable to complete helloWorld example.  Tests also failing.
XCode11b6, Catalina beta "10.15 Beta (19A536g)". Haven't had time to chase.

[2019-08-24 16:04] JohnSundell commented on #206
Hi everyone, please note that Marathon [is being deprecated](https://github.com/JohnSundell/Marathon/issues/208) and will not be updated for macOS Catalina (at least not by me). Feel free to either debug this and submit a PR, or migrate your scripts to use SwiftPM directly (which is my personal recommendation).

[2019-10-02 02:03] #186 closed